<script type="text/javascript">
$(document).ready(function(){
	$("#org_search").click(function(e){
		e.preventDefault();
		
		var cw=screen.availWidth;     //화면 넓이
		var ch=screen.availHeight;    //화면 높이
		var sw=800;    //띄울 창의 넓이
		var sh=530;    //띄울 창의 높이
		var ml=(cw-sw)/2;        //가운데 띄우기위한 창의 x위치
		var mt=(ch-sh)/2;         //가운데 띄우기위한 창의 y위치
		
		window.open('/admin/web/orgm_list_popup','org_search','width='+sw+',height='+sh+',top='+mt+',left='+ml+',resizable=no,scrollbars=yes');

	});	

	$("#btn").click(function() {
		var brdTitle = $("#brdTitle").val();
		var brdContent = $("#brdContent").val();
		var orgmem_no = $("#orgmem_no").val();
		var hongbo_type = $("#hongbo_type").val();

		if (brdTitle == "") {
			alert("제목을 입력하세요.");
			$("#brdTitle").focus();
			return false;
		}

		if (hongbo_type == "") {
			alert("분류를 선택해주세요.");
			$("#hongbo_type").focus();
			return false;
		}

		
		if($('input[name="brdPushYn"]').is(':checked')) { // push가 체크되면
			$('input[name="brdPushYn_result"]').val("Y");
		} else {
			$('input[name="brdPushYn_result"]').val("N");
		}
		
		if (brdContent == "") {
			alert("내용을 입력하세요.");
			$("#brdContent").focus();
			return false;
		}
		$("#boardwrite").attr("action","hongbo_board_save");
		$("#boardwrite").submit();
	});
	
});

function file_del(no, name) {
	if(confirm("실제 파일이 삭제됩니다 \n정말 삭제하시겠습니까?")){
		$('#file_no').val(no);
		$('#file_name').val(name);
		$("#boardwrite").attr("action", "hongbo_board_file_del");
		$("#boardwrite").submit();
	}
}

</script>

<h2>
	<span class="float_l">광고관리</span><img
		src="../../../images/admin/btn_close.gif" alt="" class="float_r hand"
		onclick="window.close();" />
</h2>
<div class="content">
	<form action="" id="boardwrite" method="post"
		enctype="multipart/form-data" autocomplete="off">
		<input type="hidden" name="file_no" value="" id="file_no" />
		<input type="hidden" name="file_name" value="" id="file_name" />
		<% if(data.length > 0) {%> <input type="hidden" name="mode" value="modify" />
			<input type="hidden" id="number" name="number" value="<%=data[0].board_no %>" />
		<% }else{ %>
			<input type="hidden" name="mode" value="write" />
		<% } %>
		
		<table>
			<colgroup>
				<col width="18%" />
				<col width="32%" />
				<col width="18%" />
				<col width="32%" />
			</colgroup>
			
			<tr>
				<th>제목</th>
				<% if(data.length > 0) {%>
					<td colspan="3"><input type="text" id="brdTitle" name="brdTitle" value="<%=data[0].board_title %>" style="ime-mode: active;" /></td>
				<% }else{ %>
					<td colspan="3"><input type="text" id="brdTitle" name="brdTitle" style="ime-mode: active;" /></td>
				<% } %>
			</tr>
			<tr>
				<th>분류</th>
				<% if(data.length > 0) {%>
				<% if(data[0].hongbo_type == 'etc') {%>
					<td colspan="3"><select id="hongbo_type" name="hongbo_type">
						<option value="">선택</option>
						<option value="etc" selected>임원</option>
						<option value="member">회원</option>
						<option value="club">클럽</option>	
						</select></td>
				<% }else if(data[0].hongbo_type == 'member'){ %>
				<td colspan="3"><select id="hongbo_type" name="hongbo_type">
					<option value="">선택</option>
					<option value="etc">임원</option>
					<option value="member" selected>회원</option>
					<option value="club">클럽</option>	
					</select></td>
				<% }else if(data[0].hongbo_type == 'club'){ %>
				<td colspan="3"><select id="hongbo_type" name="hongbo_type">
					<option value="">선택</option>
					<option value="etc">임원</option>
					<option value="member">회원</option>
					<option value="club" selected>클럽</option>	
					</select></td>
				<% } %>
				<% }else{ %>
					<td colspan="3"><select id="hongbo_type" name="hongbo_type">
						<option value="">선택</option>
						<option value="etc">임원</option>
						<option value="member">회원</option>
						<option value="club">클럽</option>	
						</select></td></td>
				<% } %>
			</tr>	
			
			<tr>
				<th>대표이미지</th>
				<td colspan="3">
					<% if(data.length > 0 && data_main_file.length > 0) { %>
						<% for(var i = 0; i < data_main_file.length; i++) { %>
							<li>
						    <img src="/file/hongbo_board/<%=data_main_file[i].file_dtname %>" alt="사진" width="180px"/></br>
							<%=data_main_file[i].file_name %>
							<a href="#" onclick="javascript:file_del('<%=data_main_file[i].file_no %>','<%=data_main_file[i].file_dtname %>');">
									<img src="../../../images/admin/icon_delete.gif" alt="삭제" />
							</a>
						</li>
						<% } %>
					<% }else{%>
						<input type="file" id="brdFileMainImg[0]" name="brdFileMainImg[0]" value="" />
					<% }%>
				</td>
			</tr>
		<tr>
				<th>회원</th>
				<td colspan="3">
					<% if(data.length > 0) {%>
						<input type="text" id="orgmem_name" name="orgmem_name" value="<%=data[0].orgmem_name %>" style="width: 70px;" readonly />
						<input type="hidden" id="orgmem_no" name="orgmem_no" value="<%=data[0].orgmem_no %>" />
					<% }else{ %>
						<input type="text" id="orgmem_name" name="orgmem_name" value="" style="width: 70px;" readonly />
						<input type="hidden" id="orgmem_no" name="orgmem_no" value="" />
					<% } %>
					
					<button type="button" class="btn_big_blue hand" id="org_search">검색</button>
				</td>
			</tr>
			<tr>
				<% if(data.length > 0) {%>
				<td colspan="4" class="align_c">
					<textarea style="height: 150px; ime-mode: active;" id="brdContent" name="brdContent"><%=data[0].board_content %></textarea>
				</td>
				<% }else{ %>
					<td colspan="4" class="align_c">
						<textarea style="height: 150px; ime-mode: active;" id="brdContent" name="brdContent"></textarea>
					</td>
				<% } %>
			</tr>
			<tr>
				<th>첨부파일</th>
				<% if(data.length > 0) { %>
					<td name="file_name" colspan="3">
					<p class="red pm_5">※ 첨부파일은 이미지만 올려주세요!</p>
					
					<% for(var i = 0; i < data_file.length; i++) { %>
						<li>
							<img src="/file/hongbo_board/<%=data_file[i].file_dtname %>" alt="사진" width="180px"/></br>
							<%=data_file[i].file_name %>
							<a href="#" onclick="javascript:file_del('<%=data_file[i].file_no %>','<%=data_file[i].file_dtname %>');">
								<img src="../../../images/admin/icon_delete.gif" alt="삭제" />
							</a>
						</li>
					<% } %>
					
					<% if(data_file.length < 3) { %> 
						<% for(var i = data_file.length; i < 3; i++) { %>
							<li>
								<input type="file" id="brdFileImg[<%=i%>]" name="brdFileImg[<%=i%>]" />
							</li>
						<% } %>
						</td>
					<% } %>
				<% }else{ %>
					<td name="file_name" colspan="3">
						<p class="red pm_5">※ 첨부파일은 이미지만 올려주세요!</p>
						<li><input type="file" id="brdFileImg[0]" name="brdFileImg[0]" /></li>
						<li><input type="file" id="brdFileImg[1]" name="brdFileImg[1]" /></li>
						<li><input type="file" id="brdFileImg[2]" name="brdFileImg[2]" /></li>
					</td>
				<% } %>
			</tr>
		</table>
	</form>
	<p class="btn">
		<button type="button" class="btn_big_blue hand" id="btn">등록</button>
		<button type="button" class="btn_big_black hand" id="btn_bak" onclick="window.close();">취소</button>
	</p>
</div>
