<!DOCTYPE html>
<html lang="ko">

<head>
	<title>로타리클럽</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10, user-scalable=no" />
	<!-- fontawesome -->
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" type="text/css" href="css/basic.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="/js/jquery/css/jquery-ui-1.8.2.custom.css" />
	<link rel="stylesheet" type="text/css" href="/js/jquery/css/swiper.min.css" />
	<script src="https://kit.fontawesome.com/af2a9fd141.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="../../../js/jquery/jquery.touchSwipe.min.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<script>
		$(document).ready(function () {
			if ("<%=disp_yn%>" == 'y' || "<%=connectorDisp_yn%>" == 'y') {
				location.href = '/fail2';
			}

			// var browserInfo = navigator.userAgent;	
			// var filter = "win16|win32|win64|mac|macintel";
			//  if ( navigator.platform ) { 
			// 		if ( filter.indexOf( navigator.platform.toLowerCase() ) < 0 ) { 
			// 			// alert("mobile");
			// 				//mobile web
			// 				if(browserInfo.indexOf("flash21_mmate")>-1){
			// 					// alert("mobile app");
			// 				}
			// 				//mobile app
			// 				else {
			// 					// alert("mobile web");
			// 					location.href = '/fail';
			// 				}
			// 		} else { //pc 
			// 			location.href = '/fail';
			// 		} 
			// 	}
			var swiper = new Swiper('.snbSwiper', {
				slidesPerView: 'auto',
				preventClicks: true,
				preventClicksPropagation: false,
				observer: true,
				observeParents: true,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});

			var swiper1 = new Swiper(".mySwiper1", {
				pagination: {
					el: ".swiper-pagination1",
				},
			});



			function muCenter(target) {
				var snbwrap = $('.snbSwiper .swiper-wrapper');
				var targetPos = target.position();
				var box = $('.snbSwiper');
				var boxHarf = box.width() / 2;
				var pos;
				var listWidth = 0;

				snbwrap.find('.swiper-slide').each(function () {
					listWidth += $(this).outerWidth();
				})

				var selectTargetPos = targetPos.left + target.outerWidth() / 2;
				if (selectTargetPos <= boxHarf) { // left
					pos = 0;
				} else if ((listWidth - selectTargetPos) <= boxHarf) { //right
					pos = listWidth - box.width();
				} else {
					pos = selectTargetPos - boxHarf;
				}

				setTimeout(function () {
					snbwrap.css({
						"transform": "translate3d(" + (pos * -1) + "px, 0, 0)",
						"transition-duration": "500ms"
					})
				}, 200);
			}
		});

		$(document).ready(function () {
			$('.popup').show();
			cookiedata = document.cookie;
			if (cookiedata.indexOf("popup_1=done") < 0) {
				//쿠키 변경 여부 불러오기 
				document.all['popup_1'].style.visibility = "visible";
			} else {
				document.all['popupWrap'].style.display = "none";
			}
		});

		function PopupNoDisplay_1() {
			setCookie("popup_1", "done", 1); //쿠키값 변경 
			PopupHide(); 
		}

			function PopupHide() {
				//팝업창 지우기 
				$('.popup').hide();
			}

	</script>
</head>

<body>
	<div class="carbon-main-wrap">
		<div class="carbon-header">
			<a href="#"><img class="logo" src="/images/carbonFoot/logo_ecoce04.png" alt="로고" /></a>
			<a class="signIn" href="/signUp"><i class="fa-solid fa-user"></i></a>
		</div>
		<div class="mainImg-wrap">
			<img class="mainImg" src="/images/carbonFoot/green_cut.png" alt="메인이미지">
		</div>
		<div class="calc-menu">
			<p class="calc-menu-title">탄소발자국 계산하기</p>
			<ul class="circle-wrap">
				<li>
					<a href="#"><img src="/images/carbonFoot/icon_child02.png" alt=""></a>
					<span>초등학생</span>
				</li>
				<li>
					<a href="#"><img src="/images/carbonFoot/icon_student02.png" alt=""></a>
					<span>중고등학생</span>
				</li>
				<li>
					<a href="#"><img src="/images/carbonFoot/icon_man02.png" alt=""></a>
					<span>성인</span>
				</li>
				<li>
					<a href="#"><img src="/images/carbonFoot/icon_company03.png" alt=""></a>
					<span>기업</span>
				</li>
				<li>
					<a href="#"><img src="/images/carbonFoot/icon_food.png" alt=""></a>
					<span>음식</span>
				</li>
			</ul>
		</div>
		<div class="challenge-ad">
			<img src="/images/carbonFoot/챌린지.png" alt="">
		</div>
		<div class="certification">
			<p>저탄소LIFT실천 인증하기</p>

			<div class="swiper-container snbSwiper">
				<ul class="swiper-wrapper circle-wrap">
					<li class="swiper-slide">
						<a href="#"><img src="/images/carbonFoot/icon_plug.png" alt=""></a></li>
					<li class="swiper-slide">
						<a href="#"><img src="/images/carbonFoot/icon_salad.png" alt=""></a></li>
					<li class="swiper-slide">
						<a href="#"><img src="/images/carbonFoot/icon_shower.png" alt=""></a></li>
					<li class="swiper-slide">
						<a href="#"><img src="/images/carbonFoot/icon)bag.png" alt=""></a></li>
					<li class="swiper-slide">
						<a href="#"><img src="/images/carbonFoot/icon_electric.png" alt=""></a></li>
					<li class="swiper-slide">
						<a href="#"><img src="/images/carbonFoot/icon_electric.png" alt=""></a>
					</li>
					<li class="swiper-slide">
						<a href="#"><img src="/images/carbonFoot/icon_electric.png" alt=""></a>
					</li>
				</ul>
				<div class="swiper-pagination" style="display:none;"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>

	<!-- 팝업창 -->
	 <!-- <div id="divpop1" class="divpop">
	 	<div class="content_area">
	 		<div class="swiper mySwiper1">
	 			<div class="swiper-wrapper">
	 				<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
	 				<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
	 				<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
	 				<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
	 				<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
	 			</div>
	 			<p>2021.12.16 ~ 2022.12.17</p>
	 			<div class="swiper-pagination1"></div>
	 		</div>
	 	</div>
	 	<div class="button_area">
	 		<input type='checkbox' name='chkbox' id='todaycloseyn' value='Y'>오늘 그만보기
	 		<a href='#' onclick="javascript:closeWin(1);"><B>[닫기]</B></a>
	 	</div>
	 </div> -->

	<div class="popup" id="popupWrap">
		<div class="inner" id="popup_1">
			<div class="area"> 
				<div class="swiper mySwiper1">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
						<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
						<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
						<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
						<div class="swiper-slide"><img src="/images/carbonFoot/탄소중립.png" alt=""></div>
					</div>
					<p>2021.12.16 ~ 2022.12.17</p>
					<div class="swiper-pagination1"></div>
				</div>
			</div> 
			<div class="button_area">
				<button type="button" onClick="PopupNoDisplay_1()"><span>하루동안 보지않기</span></button> 
				<button type="button" onClick="PopupHide();">닫기</button>
			</div>
		</div>
	</div>
</body>