<script type="text/javascript">
$(document).ready(function(){
	// $("#orgmem_sub_position").append('<input type="text" name="orgmem_sub_position" id="orgmem_sub_position" style="width:150px"/>');
	var s_org_orgBra = tag_place("<%=s_org_orgBra%>");		
	$('#orgmem_branch').html(s_org_orgBra);	
	console.log($('#orgmem_branch').val());

	var s_org_area = tag_place("<%=s_org_area%>");		
	$('#orgmem_area').html(s_org_area);	

	var s_org_zone = tag_place("<%=s_org_zone%>");		
	$('#area_zone').html(s_org_zone);	


	var s_org_com2 = tag_place("<%=s_org_committee2%>");		
	$('#orgmem_committee2').html(s_org_com2);	
	
	var s_org_com_pos2 = tag_place("<%=s_org_composition2%>");		
	$('#orgmem_committee_position2').html(s_org_com_pos2);	

	
	var s_org_com3 = tag_place("<%=s_org_committee3%>");		
	$('#orgmem_committee3').html(s_org_com3);	
	
	var s_org_com_pos3 = tag_place("<%=s_org_composition3%>");		
	$('#orgmem_committee_position3').html(s_org_com_pos3);	


	
	var s_org_orgMba = tag_place("<%=s_org_orgMba%>");		
	$('#orgmem_position').html(s_org_orgMba);
	
	var s_org_orgCom = tag_place("<%=s_org_orgCom%>");		
	$('#orgmem_committee').html(s_org_orgCom);	


	var s_org_orgComp = tag_place("<%=s_org_orgComp%>");	
	$('#orgmem_committee_position').html(s_org_orgComp);

	var s_org_orgPos = tag_place("<%=s_org_orgPos%>");	
	$('#organ_position').html(s_org_orgPos);
				
	var s_org_orgMem = tag_place("<%=s_org_orgMem%>");	
	$('#orgmem_member').html(s_org_orgMem);
	
	var s_org_cposition = tag_place("<%=s_org_club_position%>");	
	$('#club_position').html(s_org_cposition);

	var s_org_cposition_second = tag_place("<%=s_org_cposition_second%>");	
	$('#club_position_second').html(s_org_cposition_second);

	selectboxChange();	
	committee_text();
	committee_text2();

	if($('#phone_YN').val() == 'N'){
		$('#phone_YN').prop("checked", true);
	}
	if($('#company_YN').val() == 'N'){
		$('#company_YN').prop("checked", true);
	}
	if($('#tel_YN').val() == 'N'){
		$('#tel_YN').prop("checked", true);
	}
	if($('#fax_YN').val() == 'N'){
		$('#fax_YN').prop("checked", true);
	}
	if($('#e_mail_YN').val() == 'N'){
		$('#e_mail_YN').prop("checked", true);
	}
	if($('#adr_YN').val() == 'N'){
		$('#adr_YN').prop("checked", true);
	}




});

function fileChange(e){
	var files = e.files;
	var reader = new FileReader();
	reader.readAsText(files[0]);
	
	console.log(files[0].name.slice(-3));
	
	if(files[0].name.slice(-3) != 'pdf'){
		$("#company_introduce").val("");
		alert("파일확장자 pdf 파일만 업로드 가능합니다. ");
	}
	
	//console.log(files);
	reader.onload = function(){
		//console.log(reader.result);
	}
}

function phoneNumChk(){
	var form = document.writeForm;
	form.action='/admin/web/orgm_save';
	
	/* if($("#orgmem_phone1").val() == '' || $("#orgmem_phone2").val() == '' || $("#orgmem_phone3").val() == ''){
		alert("휴대폰 번호를 입력해주십시오.");
		return false;
	} */
	
	$.ajax({
		type : "POST",
        url : "/admin/web/phoneNumChk",
        dataType : "json",
        data : {
        	orgmem_phone0 : $("#orgmem_phone0").val(),
        	orgmem_phone1 : $("#orgmem_phone1").val(),
        	orgmem_phone2 : $("#orgmem_phone2").val(),
        	orgmem_phone3 : $("#orgmem_phone3").val(),
        	orgmem_no : $('input[name="no"]').val(),
        	mode : $('input[name="mode"]').val()
       	}, success : function(data) {
       		if(data.result) {
       			form.submit();
       		} else {
       			alert(data.result_msg);
       			return false;
       		}
        }, error : function(xhr, status, error) {
        	alert("휴대번호 중복 체크과정에서 오류가 발생했습니다.");
        	return false;
        }
	});
}

function ormemSave(){
	var chk = true;
	if($("#orgmem_committee2 option:selected").val() != "" || $("#orgmem_committee3 option:selected").val() != ""){
		if($("#orgmem_committee2 option:selected").val() == $("#orgmem_committee3 option:selected").val()){
		alert("임원이 같습니다.");
		return false;
		}
	}
	if($('#orgmem_name').val()==''){
		alert('이름을 입력해 주세요.');
		$('#orgmem_name').focus();
		return false;
 	}else if($('#orgmem_cate').val()==''){
 		alert('회원구분을 선택해 주세요');
 		$('#orgmem_cate').focus();
 		return false;
	 }
	 
	 if($('input[name="phone_YN"]').is(':checked')) { // push가 체크되면
		$('input[name="phone_YN"]').val("N");
		} else  {
		$('input[name="phone_YN"]').val("Y");
	}
	if($('input[name="company_YN"]').is(':checked')) { // push가 체크되면
		$('input[name="company_YN"]').val("N");
		} else  {
		$('input[name="company_YN"]').val("Y");
	}
	if($('input[name="tel_YN"]').is(':checked')) { // push가 체크되면
		$('input[name="tel_YN"]').val("N");
		} else  {
		$('input[name="tel_YN"]').val("Y");
	}
	if($('input[name="fax_YN"]').is(':checked')) { // push가 체크되면
		$('input[name="fax_YN"]').val("N");
		} else  {
		$('input[name="fax_YN"]').val("Y");
	}
	if($('input[name="e_mail_YN"]').is(':checked')) { // push가 체크되면
		$('input[name="e_mail_YN"]').val("N");
		} else  {
		$('input[name="e_mail_YN"]').val("Y");
	}
	if($('input[name="adr_YN"]').is(':checked')) { // push가 체크되면
		$('input[name="adr_YN"]').val("N");
		} else  {
		$('input[name="adr_YN"]').val("Y");
	}



		
	// if($("#orgmem_position").length > 0 && chk == true){
	// 	$("#orgmem_position").each(function(){
	// 		if($(this).val() == ""){
	// 			alert("의원 직위을 선택해주세요.");
	// 			$(this).focus();
	// 			chk = false;
	// 			return false;
	// 		}
	// 	});
	// }
	
	if(chk){		
		var position_arr = $(".select_position").map(function(){
			return $(this).val();
		}).get().join("@");
				
		$("#position_arr").val(position_arr);
		
		phoneNumChk(); 
	}
}

function file_del(no, name, type) {
	if(confirm("파일을 삭제하시겠습니까?")){
		$.ajax({
	        type:"POST",
	        url:"/admin/web/orgm_file_del",
	        data:{number : no, file_name : name, type : type},
	        success : function(data) {
	        	if(data == 'success'){
	        		window.location.reload();	
	        	}else{
	        		alert("파일삭제가 실패했습니다");
	        	}
	        },
	        error : function(xhr, status, error) {
	        	alert("파일삭제가 실패했습니다");
	        }
	  	});	
		
	}
}


function CheckOnlyNumber(TextBoxControl){
	inputValue = TextBoxControl.value.replace(/ /g, "") ;
	
	if(inputValue.replace(/\d/g,"").length!=0){
		alert("숫자만 입력해주세요.");
		TextBoxControl.value = "";
		TextBoxControl.focus();
		return false ;
	}
	return true ;
}

function selectboxChange(){
	var	s_area = $("#orgmem_area option:selected").val();
	var codde = $("#code_club").val();
	$('#area_club').empty();
	$.ajax({
		type : "POST",
        url : "/admin/web/code_club",
        dataType : "json",
        data : {
			s_area:s_area,
			division:'admin'
       	}, success : function(data) {
			   console.log(data);
			data.db_data.forEach(function(item){
				console.log(item.club_name);
			var option = $("<option>" + item.club_name+"</option>");
			$('#area_club').append(option);
			});
			$('#area_club').css('display', 'block');
			$('#area_club').val(codde);		
		   }
	});
}


function committee_text(){
	var id = $("#orgmem_committee2 option:selected").val();
	if(id == '540' || id == '570' || id == '580' || id == '590'){
		$('#orgmem_committee_text').show();
	}else{
		$('#orgmem_committee_text').hide();
		$('#orgmem_committee_text').val("");
	}
}

function committee_text2(){
	var id = $("#orgmem_committee3 option:selected").val();
	if(id == '540' || id == '570' || id == '580' || id == '590'){
		$('#orgmem_committee_text3').show();
	}else{
		$('#orgmem_committee_text3').hide();
		$('#orgmem_committee_text3').val("");
	}
}

</script>
<style>
	select {float: left;}
</style>
<h2>
	<span class="float_l">회원관리</span> <img src="../../../images/admin/btn_close.gif" alt="" class="float_r hand" onclick="self.close();" />
</h2>

<div class="content">
	<form action="/admin/web/orgm_save" id="writeForm" name="writeForm" method="post" enctype="multipart/form-data" autocomplete="off">
		<% if(db_data.length > 0) {%> 
		<input type="hidden" name="mode" value="modify" /> 
		<input type="hidden" name="no" value="<%=db_data[0].orgmem_no %>" /> 
		<input type="hidden" id ="code_club" value="<%=db_data[0].area_club %>" /> 
		<% }else{ %> 
		<input type="hidden" name="mode" value="insert" /> 
		<% } %>
		<input type="hidden" name="officer_arr" id="officer_arr" value="" />
		<input type="hidden" name="sub_officer_arr" id="sub_officer_arr" value="" />
		<input type="hidden" name="position_arr" id="position_arr" value="" />
		
		<table class="mb_10">
			<tr>
				<th>프로필사진</th>
				<% if(db_data.length > 0 && db_data[0].orgmem_img !=null && db_data[0].orgmem_img != '') {%>
					<td name="file_name" colspan="3"><img src="../../../file/member/<%=db_data[0].orgmem_img %>" alt="사진" width="150px" />&nbsp;
						<img src="../../../images/admin/icon_delete.gif" class="hand" onclick="file_del(<%=db_data[0].orgmem_no %>, '<%=db_data[0].orgmem_img %>','member')" alt="삭제" />
						<input type="hidden" id="memberImg" name="memberImg" value="<%=db_data[0].orgmem_img %>" />
					</td>
				<% }else{ %>
					<td colspan="3"><input type="file" id="memberImg" name="memberImg" /></td>
				<% } %>
			</tr>
			
			<tr>
				<th>지역/클럽/지대</th>				
				<td colspan="3">
					<select name="orgmem_area" id="orgmem_area" style="width:150px;" onchange="selectboxChange(this)"></select>
					<select name="area_club" class="area_club" id="area_club" style="width:150px; display: none;"></select>
					<select name="club_position" class="club_position" id="club_position" style="width:150px;"></select>
					<select name="club_position_second" class="club_position_second" id="club_position_second" style="width:150px;"></select>
					<% if(db_data.length > 0) {%>
					
					<% if(db_data[0].club_position_text !='null' && db_data[0].club_position_text != '' && db_data[0].club_position_text != null) {%>
					<input type="text" name="club_position_text" class="club_position_text" id="club_position_text" style="width:150px;"  value="<%=db_data[0].club_position_text %>">
						<% }else{ %>
					<input type="text" name="club_position_text" class="club_position_text" id="club_position_text" style="width:150px;" placeholder="회장기수를 입력하세요">
					<% } %>	

					<% if(db_data[0].club_position2 !='null' && db_data[0].club_position2 != '' && db_data[0].club_position2 != null) {%>
					<input type="text" name="club_position2" class="club_position2" id="club_position2" style="width:150px;"  value="<%=db_data[0].club_position2 %>">
					<% }else{ %>
					<input type="text" name="club_position2" class="club_position2" id="club_position2" style="width:150px;" placeholder="순번을 입력하세요">
					<% } %>
					

					<% }else{ %>
					<input type="text" name="club_position_text" class="club_position_text" id="club_position_text" style="width:150px;" placeholder="회장기수를 입력하세요">
					<input type="text" name="club_position2" class="club_position2" id="club_position2" style="width:150px;" placeholder="순번을 입력하세요">
					<% } %>
				</td>
			</tr>
			
			<tr>
				<th>위원회</th>				
				<td colspan="3">
					<select name="orgmem_branch" id="orgmem_branch" style="width:150px;"></select>
					<select name="orgmem_committee_position" class="orgmem_selectBox" id="orgmem_committee_position" style="width:150px;"></select>
					
					<% if(db_data.length > 0) {%>
						<input type="text" name="orgmem_sub_position" id="orgmem_sub_position" value="<%=db_data[0].orgmem_sub_position %>" style="width:150px"/>
					<% }else{ %>
						<input type="text" name="orgmem_sub_position" id="orgmem_sub_position" style="width:150px" value=""/>
					<% } %>
				</td>
			</tr>
			
			<tr>
				<th>지구임원</th>				
				<td colspan="3">

					<% if(db_data.length > 0) {%>
					<input type="text" name="orgmem_committee_text" id="orgmem_committee_text" style="width:150px; display:none; float: left;" value="<%=db_data[0].orgmem_committee_text %>"/>
					<% }else{ %>
					<input type="text" name="orgmem_committee_text" id="orgmem_committee_text" style="width:150px; display:none; float: left;" value=""/>
					<% } %>

					<select name="orgmem_committee2" id="orgmem_committee2" style="width:150px;" onchange="committee_text(this)"></select>
					<select name="orgmem_committee_position2" class="orgmem_selectBox" id="orgmem_committee_position2" style="width:150px;"></select>
					
					<% if(db_data.length > 0) {%>
						<input type="text" name="orgmem_sub_position2" id="orgmem_sub_position2" value="<%=db_data[0].orgmem_sub_position2 %>" style="width:150px"/>
					<% }else{ %>
						<input type="text" name="orgmem_sub_position2" id="orgmem_sub_position2" style="width:150px" value=""/>
					<% } %>
				</td>
			</tr>
			<tr>
				<th>겸직지구임원</th>				
				<td colspan="3">

					<% if(db_data.length > 0) {%>
					<input type="text" name="orgmem_committee_text3" id="orgmem_committee_text3" style="width:150px; display:none; float: left;" value="<%=db_data[0].orgmem_committee_text3 %>"/>
					<% }else{ %>
					<input type="text" name="orgmem_committee_text3" id="orgmem_committee_text3" style="width:150px; display:none; float: left;" value=""/>
					<% } %>

					<select name="orgmem_committee3" id="orgmem_committee3" style="width:150px;" onchange="committee_text2(this)"></select>
					<select name="orgmem_committee_position3" class="orgmem_selectBox" id="orgmem_committee_position3" style="width:150px;"></select>
					
					<% if(db_data.length > 0) {%>
						<input type="text" name="orgmem_sub_position3" id="orgmem_sub_position3" value="<%=db_data[0].orgmem_sub_position3 %>" style="width:150px"/>
					<% }else{ %>
						<input type="text" name="orgmem_sub_position3" id="orgmem_sub_position3" style="width:150px" value=""/>
					<% } %>
				</td>
			</tr>
			<!-- <tr>
				<th>위원회</th>				
				<td colspan="3">
					<select name="orgmem_committee" id="orgmem_committee" style="width:150px;"></select>
					<select name="orgmem_committee_position" id="orgmem_committee_position" style="width:150px;"></select>
				</td>
			</tr>	
			<tr>
				<th>위원회2</th>				
				<td colspan="3">
					<select name="orgmem_committee2" id="orgmem_committee2" style="width:150px;"></select>
					<select name="orgmem_committee_position2" id="orgmem_committee_position2" style="width:150px;"></select>
				</td>
			</tr>				 -->
			<tr>
				<th><span style="color: #980000; font-weight: bold;">*</span>회사명</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_company_name"name="orgmem_company_name" value="<%=db_data[0].orgmem_company_name %>" style="ime-mode: active;" />
						<br><input type="checkbox" id="company_YN" name ="company_YN" value="<%=db_data[0].company_YN %>">비노출
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_company_name" name="orgmem_company_name" style="ime-mode: active;" />
						<br><input type="checkbox" id="company_YN" name ="company_YN" value="">비노출
					</td>
				<% } %>
			</tr>	
			<!-- <tr>
				<th><span style="color: #980000; font-weight: bold;"></span>사업자번호</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_regist_num" name=orgmem_regist_num value="<%=db_data[0].orgmem_regist_num %>" style="ime-mode: active;" />
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_regist_num" name="orgmem_regist_num" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr> -->
			<!--<tr>
				<th>회사 직위</th>
				<td colspan="3">
					<select name="organ_position" id="organ_position" style="width:150px;"></select>
				</td>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="organ_position" name=organ_position value="<%=db_data[0].organ_position %>" style="ime-mode: active;" />
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="organ_position" name="organ_position" style="ime-mode: active;" />
					</td>
				<% } %> 
			</tr>-->	
			<tr>
				<th>입회일</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_birth_month" name=orgmem_birth_month value="<%=db_data[0].orgmem_birth_month %>" style="ime-mode: active;" readonly/>
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_birth_month" name="orgmem_birth_month" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			<tr>
				<th>국제협회번호</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_reg_no" name=orgmem_reg_no value="<%=db_data[0].orgmem_reg_no %>" style="ime-mode: active;" readonly/>
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_reg_no" name="orgmem_reg_no" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>			
			<tr>
				<th><span style="color: #980000; font-weight: bold;">*</span>이름</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_name" name=orgmem_name value="<%=db_data[0].orgmem_name %>" style="ime-mode: active;" />
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_name" name="orgmem_name" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			<tr>
				<th>이름(한자)</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_name_han" name=orgmem_name_han value="<%=db_data[0].orgmem_name_han %>" style="ime-mode: active;" />
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_name_han" name="orgmem_name_han" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			<tr>
				<th>이름(영문)</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_name_en" name=orgmem_name_en value="<%=db_data[0].orgmem_name_en %>" style="ime-mode: active;" />
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_name_en" name="orgmem_name_en" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>휴대폰</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_phone1" name="orgmem_phone1" value="<%=db_data[0].orgmem_phone1%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_phone2" name="orgmem_phone2" value="<%=db_data[0].orgmem_phone2%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_phone3" name="orgmem_phone3" value="<%=db_data[0].orgmem_phone3%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						<input type="checkbox" id="phone_YN" name ="phone_YN" value="<%=db_data[0].phone_YN%>">비노출
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_phone1" name="orgmem_phone1" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_phone2" name="orgmem_phone2" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_phone3" name="orgmem_phone3" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						<input type="checkbox" id="phone_YN" name ="phone_YN">비노출
					</td>
				<% } %>
			</tr>
			<tr>
				<th>전화</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_tel1" name="orgmem_tel1" value="<%=db_data[0].orgmem_tel1%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_tel2" name="orgmem_tel2" value="<%=db_data[0].orgmem_tel2%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_tel3" name="orgmem_tel3" value="<%=db_data[0].orgmem_tel3%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						<input type="checkbox" id="tel_YN" name ="tel_YN" value="<%=db_data[0].tel_YN%>">비노출
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_tel1" name="orgmem_tel1" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_tel2" name="orgmem_tel2" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_tel3" name="orgmem_tel3" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						<input type="checkbox" id="tel_YN" name ="tel_YN" value="">비노출
					</td>
				<% } %>
			</tr>	
			<tr>
				<th>팩스</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_fax1" name="orgmem_fax1" value="<%=db_data[0].orgmem_fax1%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax2" name="orgmem_fax2" value="<%=db_data[0].orgmem_fax2%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax3" name="orgmem_fax3" value="<%=db_data[0].orgmem_fax3%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						<input type="checkbox" id="fax_YN" name ="fax_YN" value="<%=db_data[0].fax_YN%>">비노출
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_fax1" name="orgmem_fax1" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax2" name="orgmem_fax2" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax3" name="orgmem_fax3" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						<input type="checkbox" id="fax_YN" name ="fax_YN" value="">비노출
					</td>
				<% } %>
			</tr>					
			<tr>
				<th>우편번호</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="zip_code" name="zip_code" value="<%=db_data[0].zip_code %>" onkeyup="CheckOnlyNumber(this);" style="width: 60px" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="zip_code" name="zip_code" onkeyup="CheckOnlyNumber(this);" style="width: 60px" />
					</td>
				<% } %>
			</tr>
			<tr>
				<th>주소</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_address" name="orgmem_address" value="<%=db_data[0].orgmem_address %>" style="ime-mode: active;" />
						<br><input type="checkbox" id="adr_YN" name ="adr_YN" value="<%=db_data[0].adr_YN%>">비노출
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_address" name="orgmem_address" style="ime-mode: active;" />
						<br><input type="checkbox" id="adr_YN" name ="adr_YN" value="">비노출
					</td>
				<% } %>
			</tr>

			<!-- ----------------- -->
			<!-- ----------------- -->
			<tr>
				<th>E-mail</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_email" name="orgmem_email" value="<%=db_data[0].orgmem_email %>"  />
						<br><input type="checkbox" id="e_mail_YN" name ="e_mail_YN" value="<%=db_data[0].e_mail_YN%>">비노출
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_email" name="orgmem_email" />
						<br><input type="checkbox" id="e_mail_YN" name ="e_mail_YN" value=""/>비노출
					</td>
				<% } %>
			</tr>
			<tr>
				<th>역임수</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="post_num" name="post_num" value="<%=db_data[0].post_num %>"  />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="post_num" name="post_num" />
					</td>
				<% } %>
			</tr>							
			<tr>
				<th>역대직책</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="link1" name="link1" value="<%=db_data[0].link1 %>" " />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="link1" name="link1" />
					</td>
				<% } %>
			</tr>
			<tr>
				<th>비고</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="link2" name="link2" value="<%=db_data[0].link2 %>"  />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="link2" name="link2" />
					</td>
				<% } %>
			</tr>	
				
	
		</table>
	</form>

	<p class="btn">
		<% if(db_data.length > 0) {%>
			<button type="button" class="btn_big_blue hand" onclick="ormemSave();">수정</button>
		<% } else {%>
			<button type="button" class="btn_big_blue hand" onclick="ormemSave();">등록</button>
		<% } %>

		<button type="button" class="btn_big_black hand" onclick="window.close();">취소</button>
	</p>
</div>