<script>
	$(document).ready(function(){
		if("<%=mode%>" == 'modify'){
			var pic = $('#pic').attr('src');
			var file_no =  $('#file_no').val();
			var file_name = $('#file_name').val();
			console.log(pic);
			console.log(file_no);
			console.log(file_name);
			if(pic != '' && pic != undefined){
				$(".biz_img_modi").attr('onclick','file_del("'+file_no+'","'+file_name+'")');
			}else{
				$(".biz_img_modi").attr('onclick','document.all.brdFileImg.click()');
			}
		}
		var header_h = $(".header").outerHeight(true),
			sub_h = $(".sub_head").outerHeight(true),
			biz_sub_t = $(".biz_sub_t").outerHeight(true)+20,
			padding_h = header_h + sub_h ;
			$(".biz_write").css("padding-top", padding_h );
			$(".biz_box").css("padding-top", biz_sub_t );
		
		$('#biz_change_box').on('keyup', function() {
            $('#txt_conut').html("("+$(this).val().length+" / 100)");
 
            if($(this).val().length > 100) {
                $(this).val($(this).val().substring(0, 100));
                $('#txt_conut').html("(100 / 100)");
            }
        });//글자수 제한 출처 - https://bskyvision.com/1012
			
		//등록
		$("#btn").click(function() {
			var brdTitle = $("#brdTitle").val();
			var brdContent = $("#brdContent").val();
			var pic = $("#pic").attr('src');
			if (brdContent == "") {
				alert("내용을 입력하세요.");
				$("#brdContent").focus();
				return false;
			} 
			
			if(pic == ""){
				alert("이미지를 등록해주세요.");
				return false;
			}

			$("#bizwrite").attr("action","biz_save");
			$("#bizwrite").submit();
		});


		//수정
		$("#btn_modify").click(function() {
			var brdContent = $("#brdContent").val();
			
			if (brdContent == "") {
				alert("내용을 입력하세요.");
				$("#brdContent").focus();
				return false;
			}
			$("#bizwrite").attr("action","biz_save?mode=modify");
			$("#bizwrite").submit();
		});	

		$("#go_request_list").click(function() {
				location.href = "/bizroom";
		});	
	
	
	}); //jquery end
	function camera_change(e) {
		var reader = new FileReader();
		reader.onload = function (event) {
			$('#pic').attr("src", event.target.result);
		};
		reader.readAsDataURL(event.target.files[0]);
	}

	function file_del(no, name) {
	if(confirm("실제 파일이 삭제됩니다 \n정말 삭제하시겠습니까?")){
		$('#file_no').val(no);
		$('#file_name').val(name);
		$("#bizwrite").attr("action", "/biz_file_del");
		$("#bizwrite").submit();
	}
}

// function file_sel(){
	
// 	var pic = $('#pic').attr('src');
// 	if(pic != ''){
// 		$('#brdFileImg').trigger('click');
// 	}else{
		
// 	}
// }
</script>
<div class="biz_write">
	<div class="biz_write_t biz_sub_t">
		<a href="/bizroom">
			<i class="fas fa-arrow-left"></i>
		</a>
		<p>게시글 작성</p>
	</div>
	<form action="" id="bizwrite" method="post" enctype="multipart/form-data" autocomplete="off">
		<% if(data.length > 0) {%>
			<input type="hidden" name="mode" value="modify"/> 
			<input type="hidden" id="number" name="number" value="<%=data[0].board_no %>"/>
			<input type="hidden" id="file_del" name="file_del" value=""/>
			<% if(data_file.length > 0){ %>
			<input type="hidden" name="file_no" value="" id="file_no" value="<%=data_file[0].file_no %>"/>
			<input type="hidden" name="file_name" value="" id="file_name" value="<%=data_file[0].file_dtname %>"/>
			<%}else{%>
			<input type="hidden" name="file_no" value="" id="file_no" value=""/>
			<input type="hidden" name="file_name" value="" id="file_name" value=""/>
			<%}%>	
		<% }else{ %>
			<input type="hidden" name="mode" value="write"/>
		<% } %>
	<div class="biz_box">
		<div class="biz_top">
			<% if(data.length > 0) { %>
			<div class="biz_img biz_img_modi" onclick=''>
				<input type=file name='brdFileImg' id="brdFileImg" style='display: none;' onchange='camera_change(this)'> 
				<% if(data_file.length > 0){ %>
				<img id="pic" style="width:100%;" src="../../../file/bizroom/<%=data_file[0].file_dtname%>">
				<%}else{%>
				<img id="pic" style="width:100%;" src="">
				<%}%>	
				<i class="fas fa-image biz_image">
					<i class="fas fa-plus-circle"></i>
				</i>
			</div>
			<% }else{ %>
			<div class="biz_img" onclick='document.all.brdFileImg.click();'>
					<input type=file name='brdFileImg' id="brdFileImg" style='display: none;' onchange='camera_change(this)'> 
					<img id="pic" style="width:100%;">
					<i class="fas fa-image biz_image">
						<i class="fas fa-plus-circle"></i>
					</i>
			</div>
			<% } %>	
			<div class="biz_top_txt">
				<% if(data.length > 0) {%>
				<textarea name="brdContent" id="biz_change_box" rows="5"><%=data[0].board_content %></textarea>
				<div id="txt_conut">(0 / 100)</div>
				<% }else{ %>
				<textarea name="brdContent" id="biz_change_box" rows="5"></textarea>
				<div id="txt_conut">(0 / 100)</div>
				<% } %>
			</div>
		</div>
		<div class="align_c">
			<% if(data.length > 0) {%>
				<button type="button" class="btn_gray btn_round btn_mem_check" id="btn_modify">수정하기</button>
			<% }else{ %>
				<button type="button" class="btn_gray btn_round btn_mem_check" id="btn">작성하기</button>
			<% } %>
			<button type="button" class="btn_gray btn_round btn_normal btn_mem_check" id="go_request_list">취소</button>
		</div>
	</div>
	</form>
	
</div>