<script>
	$(document).ready(function(){
		
		var header_h = $(".header").outerHeight(true),
			sub_h = $(".sub_head").outerHeight(true),
			biz_sub_t = $(".biz_sub_t").outerHeight(true)+20,
			padding_h = header_h + sub_h ;
			$(".biz_change").css("padding-top", padding_h )
			$(".biz_box").css("padding-top", biz_sub_t );

		$(".biz_img").click(function(){
			$(this).toggleClass("biz_img_h");
		});
			
		$('#biz_change_box').on('keyup', function() {
            $('#txt_conut').html("("+$(this).val().length+" / 100)");
 
            if($(this).val().length > 100) {
                $(this).val($(this).val().substring(0, 100));
                $('#txt_conut').html("(100 / 100)");
            }
        });//글자수 제한 출처 - https://bskyvision.com/1012
			
	}); //jquery end
</script>
<div class="biz_change">
	<div class="biz_change_t biz_sub_t">
		<a href="/bizroom">
			<i class="fas fa-arrow-left"></i>
		</a>
		<p>게시글 수정</p>
	</div>
	<div class="biz_box">
		<div class="biz_top">
			<div class="biz_img">
				<img src="/images/sample01.jpg" alt="샘플이미지">
				<div class="biz_size_icon">
					<span class="biz_img_h_icon"><i class="fas fa-expand-arrows-alt"></i></span>
					<span class="biz_img_icon"><i class="fas fa-compress-arrows-alt"></i></span>
				</div>
			</div>
			<div class="biz_top_txt">
				<textarea name="" id="biz_change_box" rows="5">제주 스타벅스로 오세요 제주 스타벅스로 오세요 제주 스타벅스로 오세요</textarea>
				<div id="txt_conut">(0 / 100)</div>
			</div>
		</div>
		<div class="align_c">
			<button class="btn_gray btn_round btn_mem_check">수정하기</button>
			<button class="btn_gray btn_round btn_normal btn_mem_check" id="go_request_list">취소</button>
		</div>
	</div>
	
</div>