<body>
	<div class="calc-standard-wrap">
		<div class="header">
			<a href="javascript:window.history.back();">
				<i class="fas fa-chevron-left"></i>
			</a>
			<span>탄소발자국(탄소배출량=CO₂사용량) 산정 기준</span>
		</div>
		<div class="content">
			<ul class="standard-list">
				<li class="standard-each">
					<div class="standard-title">
						<p>이동수단</p>
					</div>
					<ul class="standard-content">
						<li>걷기 및 자전거 : 0g</li>
						<li>대중교통(버스) : 830g/1Km</li>
						<li>대중교통(지하철) : 437g/1Km</li>
						<li>기차 : 50g/1Km</li>
						<li>항공(단거리) : 30Kg/1회</li>
						<li>항공(장거리) : 475Kg /1회</li>
					</ul>
				</li>
				<li class="standard-each">
					<div class="standard-title">
						<p>자동차</p>
					</div>
					<ul class="standard-content">
						<li>전기자동차(소형) : 0g</li>
						<li>전기자동차(중형) : 13g /1Km</li>
						<li>전기&휘발유자동차(소형) : 57g /1Km</li>
						<li>전기&휘발유자동차(중형) : 59g /1Km</li>
						<li>전기&휘발유자동차(대형) : 80g /1Km</li>
						<li>경유자동차(소형) : 125g /1Km</li>
						<li>경유자동차(중형) : 137g /1Km</li>
						<li>경유자동차(대형) : 172g /1Km</li>
						<li>휘발유자동차(소형) : 155g /1Km</li>
						<li>휘발유자동차(중형) : 181g /1Km</li>
						<li>휘발유자동차(대형) : 215g /1Km</li>

					</ul>
				</li>
				<li class="standard-each">
					<div class="standard-title">
						<p>반려동물</p>
					</div>
					<ul class="standard-content">
						<li>강아지 : 849g/1마리</li>
						<li>고양이 : 2109g/1마리</li>
					</ul>
				</li>
				<li class="standard-each">
					<div class="standard-title">
						<p>수도사용</p>
					</div>
					<ul class="standard-content">
						<li>수돗물 : 0.247g/1L</li>
						<li>대중교통(버스) : 830g/1Km</li>
						<li>대중교통(지하철) : 437g/1Km</li>
						<li>기차 : 50g/1Km</li>
						<li>항공(단거리) : 30Kg/1회</li>
						<li>항공(장거리) : 475Kg /1회</li>

					</ul>
				</li>
				<li class="standard-each">
					<div class="standard-title">
						<p>육류음식</p>
					</div>
					<ul class="standard-content">
						<li>700g 치킨 : 188g</li>
						<li>200g 돼지고기 : 33.2g</li>
						<li>200g 소고기 : 74g</li>
					</ul>
				</li>
				<li class="standard-each">
					<div class="standard-title">
						<p>일회용품</p>
					</div>
					<ul class="standard-content">
						<li>나무젓가락 : 0.7g/1개</li>
						<li>일회용숟가락 : 11.7g/1개</li>
						<li>종이컵 : 3.4g/1개</li>
						<li>테이크아웃커피잔 : 558.5g/1개</li>
						<li>43g 배달용기 : 0.7g/1개</li>
					</ul>
				</li>
				<li class="standard-each">
					<div class="standard-title">
						<p>생활용품</p>
					</div>
					<ul class="standard-content">
						<li>핸드타올 : 10g/1장</li>
						<li>물티슈 : 10g/1장</li>
						<li>A4용지 : 2.88g/1장</li>
					</ul>
				</li>
				<li class="standard-each">
					<div class="standard-title">
						<p>전기사용</p>
					</div>
					<ul class="standard-content">
						<li>콘센트 : 35g/1일 대기전력</li>
						<li>엘리베이터 : 12.7g/1회</li>
						<li>핸드드라이어 : 20g/1회</li>
						<li>노트북, 컴퓨터 : 100g/1시간</li>
						<li>게임 : 25g/1시간</li>
						<li>스트리밍 :</li>
						<li>전화통화 : 216g/1시간</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	</div>


</body>