<script>

</script>

<body>
	<div class="certification-wrap">
		<div class="bg-img-wrap">
			<img class="main-bg-img" src="/images/carbonFoot/탄소중립05.png" alt="">
			<div class="gradient" style="height: 60px; background: linear-gradient(to bottom, #bdea7d, white);"></div>
			<div class="calc-menu">
				<p class="calc-menu-title">저탄소LIFT실천 인증하기</p>
				<ul class="circle-wrap">
					<li>
						<a class="btn js-click-modal" href="#modal1"><img src="/images/carbonFoot/icon_walk.png"
								alt=""></a>
						<span>걷기</span>
					</li>
					<li>
						<a class="btn js-click-modal" href="#modal3"><img src="/images/carbonFoot/icon_subway.png"
								alt=""></a>
						<span>지하철</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_bus.png" alt=""></a>
						<span>버스</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_electric.png" alt=""></a>
						<span>전기차</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon)bag.png" alt=""></a>
						<span>장바구니</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_tumblr02.png" alt=""></a>
						<span>텀블러</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_foodbox02.png" alt=""></a>
						<span>다용기</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_tissue02.png" alt=""></a>
						<span>물티슈</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_shower04.png" alt=""></a>
						<span>욕조샤워</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_water03.png" alt=""></a>
						<span>물잠그고</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_tooth.png" alt=""></a>
						<span>양치컵</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_tissue03.png" alt=""></a>
						<span>손수건</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_shower.png" alt=""></a>
						<span>절수기기</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_plug.png" alt=""></a>
						<span>코드빼기</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_mail.png" alt=""></a>
						<span>메일비우기</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_receipt.png" alt=""></a>
						<span>전자영수증</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_tree.png" alt=""></a>
						<span>나무심기</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_circle.png" alt=""></a>
						<span>분리수거</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_salad.png" alt=""></a>
						<span>야채위주</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 모달 -->
	<div class="modal-container" id="modal1">
		<div class="bottom-up-modal">
			<div class="bottom-up-header2">
				<div class="header-text">
					<a class="btn js-close-modal">
						<i class="fas fa-chevron-down"></i>
					</a>
					<span>저탄소LIFE실천 인증하기</span>
				</div>
				<div class="header-logo">
					<a href="/"><img src="/images/carbonFoot/logo_ecoce05.png" alt="로고이미지"></a>
				</div>
			</div>
			<div class="bottom-up-body-wrap2">
				<div class="bottom-up-body">
					<div class="icon">
						<a href="#"><img src="/images/carbonFoot/icon_plug.png" alt=""></a>
						<span>코드빼기</span>
					</div>
					<div class="camera">
						<div class="camera-img"><img src="/images//carbonFoot/code.png" alt="인증사진"></div>
					</div>
					<div class="checkBtn-wrap">
						<button class="checkBtn">
							<img src="/images/carbonFoot/icon_check.png" alt="">
							<span>탄소실천 인증 확인</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-container" id="modal2">
		<div class="bottom-up-modal">
			<div class="bottom-up-header2">
				<div class="header-text">
					<a class="btn js-close-modal">
						<i class="fas fa-chevron-down"></i>
					</a>
					<span>저탄소LIFE실천 인증하기</span>
				</div>
				<div class="header-logo">
					<a href="/"><img src="/images/carbonFoot/logo_ecoce05.png" alt="로고이미지"></a>
				</div>
			</div>
			<div class="bottom-up-body-wrap2">
				<div class="bottom-up-body">
				</div>
			</div>
		</div>
	</div>

	<div class="modal-container" id="modal3">
		<div class="bottom-up-modal">
			<div class="bottom-up-header2">
				<div class="header-text">
					<a class="btn js-close-modal">
						<i class="fas fa-chevron-down"></i>
					</a>
					<span>저탄소LIFE실천 인증하기</span>
				</div>
				<div class="header-logo">
					<a href="/"><img src="/images/carbonFoot/logo_ecoce05.png" alt="로고이미지"></a>
				</div>
			</div>
			<div class="bottom-up-body-wrap2">
				<div class="bottom-up-body">
				</div>
			</div>
		</div>
	</div>



	<script>
		$('.js-click-modal').click(function () {
			$('.header').fadeOut(800);
		});

		$('.js-close-modal').click(function () {
			$('.header').fadeIn(600);
		});

		var btn = document.querySelectorAll(".js-click-modal");
		var modals = document.querySelectorAll('.modal-container');
		var exitBtns = document.getElementsByClassName("js-close-modal");

		for (var i = 0; i < btn.length; i++) {
			btn[i].onclick = function (e) {
				modal = document.querySelector(e.currentTarget.getAttribute("href"));
				e.preventDefault();
				modal.classList.add("modal-open");
				// modal.style.display = "block";
			}
		}

		for (var i = 0; i < exitBtns.length; i++) {
			exitBtns[i].onclick = function () {
				for (var index in modals) {
					if (typeof modals[index].style !== 'undefined')
						modals[index].classList.remove("modal-open");
					// modals[index].style.display = "none";
				}
			}
		}
	</script>

</body>