<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10, user-scalable=yes" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4964aa4912a92254fbf7fa14824b4b7a&libraries=services"></script>
<script type="text/javascript">
	
	var search_txt='';

	$(document).ready(function() {


		var header_h = $(".header").outerHeight(true),
			sub_h = $(".sub_head").outerHeight(true),
			padding_h = header_h + sub_h ;
			$(".excutive_con").css("padding-top", padding_h )
			
		$(".my_location").click(function(){
			$(this) .addClass("rotate").delay(1000).queue(function(){ 
					$(this).removeClass("rotate").dequeue(); 
				});
		});
		
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
				level: 6 // 지도의 확대 레벨
			};

		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

		// 선을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 선을 표시합니다
		var linePath = new Array();
		
		// 마커를 표시할 위치입니다 
		var position = new kakao.maps.LatLng(33.450701, 126.570667);

		// 마커를 생성합니다

		var markers = new Array();

		var coords = new Array();

		var geocoder = new kakao.maps.services.Geocoder();
	// 	for(var i=0; i < dbdata.length; i++){
	// 	geocoder.addressSearch(dbdata[i].orgmem_address, function(results, status) {
	// 	var result = results[i]
	// 	var latitude = result.y;
	// 	var longitude = result.x;
	// 	console.log(latitude);
	// 	console.log(longitude);

	// });
	// 	}
		$.ajax({
                    type : "POST",
                    url : "/excutive_data",
                    datatype : "json",
                    success : function(json) {
                     if(json.db_data.length == 0){
                            
                     }else{
                   // $("#placesList").empty();	

					console.log(json.db_data);
					for(var i=0; i < json.db_data.length; i++){
						var geocoder = new kakao.maps.services.Geocoder();
						eval("var coord"+i);
						var all_coord =  "coord"+i;
					
						geocoder.addressSearch(json.db_data[i].orgmem_address, function(results, status) {
						
								console.log(all_coord);
								// all_coord = {
								//  	latitude: results[0].y
								//  	, longitude: results[0].x
								//  }

								 console.log(coord0);
								 console.log(coord1);
								 console.log(coord2);
							    // console.log(results[0].y);
								// console.log(results[0].x);
								
						});
					}


                    geocoder.addressSearch(json.db_data[0].orgmem_address, function(results, status) {

                        var result = results[0]; //첫번째 결과의 값을 활용								
                  
                            // 해당 주소에 대한 좌표를 받아서
                            var coords = new daum.maps.LatLng(result.y, result.x);
                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            // 지도 중심을 변경한다.
                            map.setCenter(coords);

                            var markerPosition  = new kakao.maps.LatLng(result.y, result.x); 
                                var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                                    imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                                    imgOptions =  {
                                        spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                                        spriteOrigin : new kakao.maps.Point(0,(0)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                                        offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                                    },
                                    markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                                        marker = new kakao.maps.Marker({
                                        position: markerPosition, // 마커의 위치
                                        image: markerImage 
                                    });
                                    markers.push(marker);  // 배열에 생성된 마커를 추가합니다.
                                    if(markers.length>1){
                                        markers[markers.length-2].setMap(null);
                                    }
                                    marker.setMap(map); // 지도 위에 마커를 표출합니다
                            });
                     }
                   
                    },
                    error : function(xhr, status, error) {
                        alert("검색된 기업이 없습니다.");
                    }
                }); 
});







		

</script>


<!-- 컨텐츠 -->
<div class="excutive_con">
	<div class="excutive_top">
		<div class="search_wrap_view"> 
			<div class="search_field">
				<input type="text" placeholder="키워드를 입력하세요." onfocus="this.placeholder=''" onblur="this.placeholder='키워드를 입력하세요.'" />
				<button>
					<img src="/images/search_btn.svg" alt="검색버튼">
				</button>
			</div>
		</div>
		<div class="my_location">
			<i class="fas fa-sync-alt"></i>
			<span>내위치</span>
		</div>
	</div>
	<div id="map" style="width: 100%; height: 500px; margin:auto; margin-top: 10px;"></div>
</div>
