<!-- 탭 -->
<div class="intro_menu">
    <ul>
      <li><a href="advisory?century=<%=century%>">지구총재</a></li>
      <li><a href="mark?century=<%=century%>">실천과제</a></li>
      <li style="width: 22%"><a href="moral?century=<%=century%>">지구집행부</a></li>
      <li style="width: 21%"><a href="introduce?century=<%=century%>">조직기구표</a></li>
      <li style="width: 19%"><a href="global?century=<%=century%>" class="intro_menu_on">지구현황</a></li>
      <li style="width: 13%"><a href="place?century=<%=century%>">사무국</a></li>
    </ul>
 </div>
 <div id="container_intro">
     <!-- 내용 -->
     <div class="intro_greeting">
     	<h1 class="con_tit">대구지구 현황</h1>
     	<%if(century == '2020'){%>
		 <div class="global_box">
     		<dl>
     			<dt>1. 클럽수 및 회원수</dt>
     			<dd>1) 라이온스클럽: 117 개 클럽 회원수: 4.599명  (2020년 11월말 기준)</dd>
     			<dd>2) 지역 및 지대편성: 8개 지역  36개 지대 </dd>
     		</dl>
     		<dl>
     			<dt>2. 2020-2021 중점사업 LIFE STYLE 실현(뉴트로)</dt>
     			<dd>1) 회관개선</dd>
     			<dd>2) 전산시스템 구축 및 디지털 화 </dd>
     			<dd>3) 신입회원 연수회 및 오리엔테이션</dd>
     			<dd>4) 클럽활성화를 위한 지원사업</dd>
     			<dd>5) 라이온스 바로 알기(연수)</dd>
     			<dd>6) 단위클럽 중심 보아활동의 다변화</dd>
     			<dd>7) 회원 증강 및 탈회방지</dd>
     		</dl>
     		<dl>
     			<dt>3. 지구 장기봉사사업</dt>
     			<dd class="tt"> ￭  재단법인 라이온스대구장학회 운영</dd>
     			<dd> - 기금특찬 : 개인1구좌 80만원 /클럽1구좌 400만원 /특별회원 1구좌 1,000만원 </dd>
     			<dd> - 총 자 산 : 42억 6천</dd>
     			<dd> - 목적사업 : 장학금 지급(연간 1억3천만원), 초․중․고 학습기자재지원(연간 9백만원)</dd>
     			<dd> - 장학생추천 : 매년 1월 중순 추천학생 접수</dd>
     			<dd style="text-indent: 10px; margin-top:4px;">대구지역내 고등학교 졸업자 및 졸업예정자로서 </dd>
     			<dd style="text-indent: 10px;"><span style="color: red;font-weight: bold;">대구, 경산권내 2년제 전문대학 합격자 </span></dd>
     			<dd style="text-indent: 10px;">클럽별 1명 추천가능 (생활이 어려운 성적우수학생, <span style="color: red; font-weight: bold;">B 학점이상 유지)</span></dd>
     			<dd> - 장학생선발 : 클럽기탁금이 5천만원 이상인 클럽은 2년마다 1명 우선선발</dd>
     			<dd>클럽기탁금이 1억원 이상인 클럽은 매년 1명 우선선발</dd>
     			<dd> - 선발기준 : 생활형편, 성적, 추천클럽 장학재단 기여도 등</dd>
     			<dd> - 장학금전달 : 매년 2월 중</dd>
     			<dd class="tt"> ￭  장애인종합복지관 지원</dd>
     			<dd> -  의 무 금 : 회원1인당 연간 2만5천원</dd>
     			<dd> - 위탁운영 : 1984년부터 현재까지</dd>
     			<dd> - 연간지원 : 3억원</dd>
     			<dd> - 재활치료 및 직업교육 프로그램 이용자수 연간 3만여명</dd>
     			<dd> - 클럽별 연간 3회 이상 복지관 이용(회합목적)권장</dd>
     			<dd class="tt"> ￭  파티마병원 시력보존센터</dd>
     			<dd> - 2007. 6 파티마병원내 라이온스시력보존센터“ 안과장비”지원</dd>
     			<dd>※ 불우가정 추천 및 안과질환자 치료/ 치료비 지원</dd>
     			<dd> - 2016.6 “안과질환” 환자 년간 1,000만원 이상 지원</dd>
     		</dl>
     		
     	</div>
		<%}else{%>
			<div class="global_box">
				<dl>
					<dt>1. 라이온스 클럽수 및 회원수</dt>
					<dd>1) 세계 : 215개 국 49,728개 클럽, 1,366,779명 </dd>
					<dd>2) 한국 : MD354(820개 클럽 26,156명) </dd>
					<dd style="padding-left: 59px;">MD355(609개 클럽 24,280명)	</dd>
					<dd style="padding-left: 59px;">MD356(610개 클럽 22,341명)</dd>
					<dd style="padding-left: 59px;">354 ․ 355․ 356복합지구(21개 지구) : 2,039개 클럽 72.777명</dd>
					<dd>3) 대구 :115 개 클럽 4.284명 </dd>
				</dl>
				<dl>
					<dt>2. 2021-2022 대구지구 실천과제</dt>
					<dd>1) 따듯한봉사</dd>
					<dd>2) 나눔급식</dd>
					<dd>3) 참여하는 라이온</dd>
					<dd>4) 서로 존중하고 배려하는 라이온</dd>
					<dd>5) 클럽중심 운영</dd>
				</dl>
				<dl>
					<dt>3. 지구 장기봉사사업</dt>
					<dd class="tt"> ￭  재단법인 라이온스대구장학회 운영</dd>
					<dd> - 기금특찬 : 개인1구좌 80만원 /클럽1구좌 400만원 /특별회원 1구좌 1,000만원 </dd>
					<dd> - 총 자 산 : 44억</dd>
					<dd> - 목적사업 : 장학금 지급(연간 1억3천만원), 초․중․고 학습기자재지원(연간 9백만원)</dd>
					<dd> - 장학생추천 : 매년 1월 중순 추천학생 접수</dd>
					<dd style="text-indent: 10px; margin-top:4px;">대구지역내 고등학교 졸업자 및 졸업예정자로서 </dd>
					<dd style="text-indent: 10px;"><span style="color: red;font-weight: bold;">대구, 경산권내 전문대 및 대학교 합격자 </span></dd>
					<dd style="text-indent: 10px;">클럽별 1명 추천가능 (생활이 어려운 성적우수학생, <span style="color: red; font-weight: bold;">B 학점이상 유지)</span></dd>
					<dd> - 장학생선발 : 클럽기탁금이 5천만원 이상인 클럽은 2년마다 1명 우선선발</dd>
					<dd>클럽기탁금이 1억원 이상인 클럽은 매년 1명 우선선발</dd>
					<dd> - 선발기준 : 생활형편, 성적, 추천클럽 장학재단 기여도 등</dd>
					<dd> - 장학금전달 : 매년 2월 중</dd>
					<dd class="tt"> ￭  장애인종합복지관 지원</dd>
					<dd> -  의 무 금 : 회원1인당 연간 2만5천원</dd>
					<dd> - 위탁운영 : 1984년부터 현재까지</dd>
					<dd> - 연간지원 : 3억원</dd>
					<dd> - 재활치료 및 직업교육 프로그램 이용자수 연간 3만여명</dd>
					<dd> - 클럽별 연간 3회 이상 복지관 이용(회합목적)권장</dd>
					<dd class="tt"> ￭  파티마병원 시력보존센터</dd>
					<dd> - 2007. 6 파티마병원내 라이온스시력보존센터“ 안과장비”지원</dd>
					<dd>※ 불우가정 추천 및 안과질환자 치료/ 치료비 지원</dd>
					<dd> - 2016.6 “안과질환” 환자 년간 1,000만원 이상 지원</dd>
				</dl>
				
			</div>
		<%}%>	
     </div>
 </div>
 
 