<script type="text/javascript" src="../../../js/jquery/jquery.touchSwipe.min.js"></script>
<script>
	function activeChg(p){
		var cate = p.dataset.cate;
		console.log(cate);
		$(".intro_menu_on").removeClass("intro_menu_on");
		$(p).addClass("intro_menu_on");
		//$(".rule_cate").hide();
		if(cate == "introduce"){
			$("#container").show();
			$("#roles").hide();
			$("#history").hide();
			$("#orgchart").hide();
			$("#ceo_history").hide();
		}else if(cate == "roles"){
			$("#container").hide();
			$("#roles").show();
			$("#history").hide();
			$("#orgchart").hide();
			$("#ceo_history").hide();	
		}else if(cate == "history"){
			$("#container").hide();
			$("#roles").hide();
			$("#history").show();
			$("#orgchart").hide();
			$("#ceo_history").hide();
		}else if(cate == "orgchart"){
			$("#container").hide();
			$("#roles").hide();
			$("#history").hide();
			$("#orgchart").show();
			$("#ceo_history").hide();
		}else if(cate == "ceo_history"){
			$("#container").hide();
			$("#roles").hide();
			$("#history").hide();
			$("#orgchart").hide();
			$("#ceo_history").show();
		}
		
		//$("#"+cate).show();
	}
	$(function(){
        $('.rule_cate').swipe({
            swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
				console.log("this.index() ::::::: " + this.index());
                if(direction == "left" ){
                	if(this.index() == 0){
						$('.trigger2').trigger('click');
					}else if(this.index() == 2){
						$('.trigger3').trigger('click');
					}else if(this.index() == 3){
						$('.trigger4').trigger('click');
					}else if(this.index() == 4){
						$('.trigger5').trigger('click');
					}
                }
				else if(direction == "right"){
					if(this.index() == 5){
						$('.trigger4').trigger('click');
					}else if(this.index() == 4){
						$('.trigger3').trigger('click');
					}else if(this.index() == 3){
						$('.trigger2').trigger('click');
					}else if(this.index() == 2){
						$('.trigger1').trigger('click');
					}
				}
        	},
			allowPageScroll:"vertical"
   		});
	});
	
	$(document).ready(function(){
		$('.md').click(function(){
			$('#container_intro').show();
			$('#container_intro2').hide();
			$('#container_intro3').hide();
			$('#container_intro4').hide();
			
			$('#md').addClass('intro_menu_on');			
			$('#md356').removeClass('intro_menu_on');
			$('#md355').removeClass('intro_menu_on');
			$('#md354').removeClass('intro_menu_on');
		});
		
		$('.md356').click(function(){
			$('#container_intro2').show();
			$('#container_intro').hide();
			$('#container_intro3').hide();
			$('#container_intro4').hide();
			
			$('#md356').addClass('intro_menu_on');
			$('#md').removeClass('intro_menu_on');
			$('#md355').removeClass('intro_menu_on');
			$('#md354').removeClass('intro_menu_on');

		});		
		
		$('.md355').click(function(){
			$('#container_intro3').show();
			$('#container_intro').hide();
			$('#container_intro1').hide();
			$('#container_intro2').hide();
			
			$('#md355').addClass('intro_menu_on');
			$('#md').removeClass('intro_menu_on');
			$('#md356').removeClass('intro_menu_on');
			$('#md354').removeClass('intro_menu_on');

		});	
		
		$('.md354').click(function(){
			$('#container_intro4').show();
			$('#container_intro').hide();
			$('#container_intro2').hide();
			$('#container_intro3').hide();
			
			$('#md354').addClass('intro_menu_on');
			$('#md').removeClass('intro_menu_on');
			$('#md356').removeClass('intro_menu_on');
			$('#md355').removeClass('intro_menu_on');

		});	
		
			var header_h = $(".header").outerHeight(true),
				sub_h = $(".sub_head").outerHeight(true),
				//menu_h = $(".intro_menu").outerHeight(true),
				padding_h = header_h + sub_h
				
			$(".con_box").css("padding-top", padding_h)
			
			var swiper = new Swiper('.snbSwiper', {
            slidesPerView: 'auto',
            preventClicks: true,
            preventClicksPropagation: false,
			observer: true,
            observeParents: true
        });
        var $snbSwiperItem = $('.snbSwiper .swiper-wrapper .swiper-slide a');
        $snbSwiperItem.click(function(){
            var target = $(this).parent();
            $snbSwiperItem.parent().removeClass('on')
            target.addClass('on');
            muCenter(target);
        })

        function muCenter(target){
            var snbwrap = $('.snbSwiper .swiper-wrapper');
            var targetPos = target.position();
            var box = $('.snbSwiper');
            var boxHarf = box.width()/2;
            var pos;
            var listWidth=0;
            
            snbwrap.find('.swiper-slide').each(function(){ listWidth += $(this).outerWidth(); })
            
            var selectTargetPos = targetPos.left + target.outerWidth()/2;
            if (selectTargetPos <= boxHarf) { // left
                pos = 0;
            }else if ((listWidth - selectTargetPos) <= boxHarf) { //right
                pos = listWidth-box.width();
            }else {
                pos = selectTargetPos - boxHarf;
            }
            
            setTimeout(function(){snbwrap.css({
                "transform": "translate3d("+ (pos*-1) +"px, 0, 0)",
                "transition-duration": "500ms"
            })}, 200);
        }
			
		
		
		
	});
</script>
<!-- 탭 -->
<div>

<div class="swiper-container intro_menu snbSwiper">
	<ul class="swiper-wrapper">
		 <li class="swiper-slide"><a href ="#" data-cate="introduce" class="intro_menu_on trigger1" onclick="activeChg(this);">21·22총재</a></li>
	     <li class="swiper-slide"><a href="#" data-cate="roles" class="trigger2" onclick="activeChg(this);">역대총재단</a></li>
		 <li class="swiper-slide"><a href="#" data-cate="history" class="trigger3" onclick="activeChg(this);">조직기구표</a></li>
		 <li class="swiper-slide"><a href="#" data-cate="orgchart" class="trigger4" onclick="activeChg(this);">지역현황</a></li>
		 <li class="swiper-slide"><a href="#" data-cate="ceo_history" class="trigger5" onclick="activeChg(this);">자매지구</a></li>
	</ul>
	<div class="swiper-pagination" style="display:none;"></div>
</div>
<!--<div class="intro_menu">
   <ul>
     <li><a href ="#" data-cate="introduce" class="intro_menu_on trigger1" onclick="activeChg(this);">21·22총재</a></li>
     <li><a href="#" data-cate="roles" class="trigger2" onclick="activeChg(this);">역대총재단</a></li>
	 <li><a href="#" data-cate="history" class="trigger3" onclick="activeChg(this);">조직기구표</a></li>
	 <li><a href="#" data-cate="orgchart" class="trigger4" onclick="activeChg(this);">지역현황</a></li>
	 <li><a href="#" data-cate="ceo_history" class="trigger5" onclick="activeChg(this);">자매지구</a></li>
   </ul>
</div>-->
<div id="container" class="con_box" style="overflow: hidden; ">
	<div>
	<!-- 내용 -->
		<div id="introduce" class="rule_cate">
			<div class="con_tit_wrap">
				<h1 class="con_tit"> <span>국제로타리 3662지구<br>2021-22년도 총재</span></h1>
			</div>
			<div class="greeting_con">
				<img src="/images/president_21_22.jpg" alt="21 22년도 총재" style="max-width: 300px;"/>
			</div>
		</div>
	</div>
</div>
	<div id="roles" class="rule_cate con_box" style="overflow: hidden; display: none;">
		<div>
			<div class="con_tit_wrap">
				<h1 class="con_tit"><span>역대총재단</span></h1>
			</div>
			<div class="greeting_con">
				<img src="/images/past_staff.jpg" alt="역대총재단" />
			</div>
		</div>
	</div>
	<div id="history" class="rule_cate con_box" style="overflow: hidden; display: none;">
		<!-- 내용 -->
		<div>
			<div class="con_tit_wrap">
				<h1 class="con_tit"><span>조직기구표</span></h1>
			</div>
			<div class="greeting_con">
				<a href="/images/organ.png">
					<img src="/images/organ.png" alt="조직기구표" />
				</a>
			</div>
		</div>
	</div>
	<div id="orgchart" class="rule_cate con_box" style="overflow: hidden; display: none;">
		<!-- 내용 -->
		<div>
			<div class="con_tit_wrap">
					<h1 class="con_tit"><span>지역현황</span></h1>
			</div>
			<div class="greeting_con">
					<!--<img src="/images/ready.png" alt="준비중" />-->
					<a href="/images/rotary_local.jpg">
						<img src="/images/rotary_local.jpg" alt="로타리 지역편성표" />
					</a>
			</div>
		</div>
	</div>
	<div id="ceo_history" class="rule_cate con_box" style="overflow: hidden; display: none;">
		<div>
			<div class="con_tit_wrap">
					<h1 class="con_tit"><span>자매지구</span></h1>
			</div>
			<div class="greeting_con">
				<ul class="sis_rotary_wrap">
					<li>
						<div class="sis_rotary">
							<p>국제로타리 2780지구</p>
							<span>(일본)</span>
						</div>
						<p>: 2015.4.29 결연</p>
					</li>
					<li>
						<div class="sis_rotary">
							<p>국제로타리 3350지구</p>
							<span>(태국)</span>
						</div>
						<p>: 2017.6.30 결연</p>
					</li>
					<li>
						<div class="sis_rotary">
							<p>국제로타리 3482지구</p>
							<span>(대만)</span>
						</div>
						<p>: 2019.7.10 결연</p>
					</li>
					<li>
						<div class="sis_rotary">
							<p>국제로타리 3740지구</p>
							<span>(한국)</span>
						</div>
						<p>: 2020.6.30 결연</p>
					</li>
				</ul>
			</div>
		</div>
	</div>