<body>
	<div class="signUp-wrap">
		<div class="header">
			<a href="javascript:window.history.back();">
				<i class="fas fa-chevron-left"></i>
			</a>
			<span>회원 로그인</span>
		</div>

		<div class="login-content-wrap">
			<div class="inputInfo">
				<div class="id-wrap">
					<div class="inputId-wrap">
						<input type="text" id="Id" class="inputId" placeholder="아이디를 입력해주세요" />
					</div>
				</div>
				<div class="pw-wrap">
					<input type="password" name="password1" class="inputPw" placeholder="비밀번호를 입력해주세요" />
				</div>
			</div>
			<div class="saveInfoBtn">
				<div class="saveId">
					<label for="saveId" class="chk_box">
						<input type="checkbox" id="saveId" />
						<span class="check"></span> 아이디 저장
					</label>

					<label for="autoLogin" class="chk_box">
						<input type="checkbox" id="autoLogin" />
						<span class="check"></span> 자동 로그인
					</label>
				</div>
			</div>
			<div class="loginBtn">
				<button type="submit" id="login">로그인</button>
			</div>
			<div class="signUpPlz">
				<p>회원가입을 하지 않으신 분들은 <br /> 회원가입을 먼저 해주세요.</p>
				<a href="/signUp">회원가입</a>
			</div>
		</div>
	</div>

	<script>

	</script>
</body>