<!-- 탭 -->
<div class="intro_menu">
   <ul>
	 <li><a href="advisory?century=<%=century%>" >지구총재</a></li>
	 <li><a href="mark?century=<%=century%>" class="intro_menu_on">실천과제</a></li>
	 <li style="width: 22%"><a href="moral?century=<%=century%>">지구집행부</a></li>
	 <li style="width: 21%"><a href="introduce?century=<%=century%>">조직기구표</a></li>
	 <li style="width: 19%"><a href="global?century=<%=century%>">지구현황</a></li>
	 <li style="width: 13%"><a href="place?century=<%=century%>">사무국</a></li>
   </ul>
</div>
<div id="container_intro">
	<!-- 내용 -->
	<div class="intro_greeting">
	<%if(century == '2020'){%>
	<h1 class="con_tit">2020-2021 대구지구 실천과제</h1>
		<!-- <h4>대구/경북 차세대 리더스 클럽 마크</h4>	 -->	
		<div class="mark_text">
			<img src="../../../../images/mark.png" alt="mark" style=" width: 44%; height: auto; position: relative;
    left: 50%; transform: translateX(-50%);"/>
			<ul style="text-align: center; margin-top: 15px;">
				<li>1. 존중하는 마음</li>
				<li>2. 실천하는 봉사</li>
				<li>3. 나눔의 생활화</li>
				<li>4. 적극적인 참여</li>
				<li>5. 배려하는 자세</li>
			</ul>
		</div>
	<%}else{%>
	<h1 class="con_tit">2021-2022 대구지구 실천과제</h1>
		<!-- <h4>대구/경북 차세대 리더스 클럽 마크</h4>	 -->	
		<div class="mark_text">
			<img src="../../../../images/mark_2021.jpg" alt="mark" style=" width: 44%; height: auto; position: relative;
    left: 50%; transform: translateX(-50%);"/>
			<ul style="text-align: center; margin-top: 15px;">
				<li>1. 따뜻한 봉사</li>
				<li>2. 나눔 급식</li>
				<li>3. 참여하는 라이온</li>
				<li>4. 서로 존중하고 배려하는 라이온</li>
				<li>5. 클럽중심 운영</li>
			</ul>
			</div>
		<%}%>
	</div>
</div>
