<!-- 탭 -->
<div class="intro_menu">
	<ul>
     <li style="width: 19%;"><a href="greeting?century=<%=century%>" >윤리강령</a></li>
     <li style="width: 10%;"><a href="roles?century=<%=century%>" >목적</a></li>
	 <li style="width: 10%; letter-spacing: 1px;"><a href="history"?century=<%=century%> >LCI</a></li>
	 <li style="width: 22%;"><a href="orgchart?century=<%=century%>" class="intro_menu_on">국제협회장</a></li>
	 <li style="width: 24%;"><a href="ceo_history?century=<%=century%>">한국라이온스</a></li>
	</ul>
</div>
<div id="container_intro">
	<!-- 내용 -->
	<div class="intro_greeting">
		<h1 class="con_tit">국제협회장</h1>
		<div class="history_text" style="text-align: center;">
			<p><img src="images/orc_01.png" alt="orc_01" width="45%" height="100%"></p>
			<p style="font-size: 1.5rem; font-weight: bold; color: #6D9842; font-style: italic;margin: 10px 0px 15px;font-family: S-CoreDream-6Bold !important;">We Serve</p>
            <p><img src="images/orc_02.png" alt="orc_02" width="45%" height="100%"></p>
            <p style="font-size: 1.2rem; margin: 15px 0px 8px;">2020-2021
            <span style="font-size: 1.2rem; font-weight: bold; color: #6D9842;">제104대 국제협회장</span></p>
            <p style="font-size: 1.5rem; font-weight: bold;">최중열L<span style="font-size: 1rem;">(부산제일L.C)</span></p>
            <p style="font-size: 1.1rem; margin-bottom: 20px;">(Dr. Jung-Yul, Choi)</p>
        </div>
	</div>
</div>
