
<!-- 탭 -->
<div class="intro_menu">
   <ul>
 	 <li><a href="advisory?century=<%=century%>" >지구총재</a></li>
	 <li><a href="mark?century=<%=century%>" >실천과제</a></li>
	 <li style="width: 22%"><a href="moral?century=<%=century%>" >지구집행부</a></li>
	 <li style="width: 21%"><a href="introduce?century=<%=century%>" >조직기구표</a></li>
	 <li style="width: 19%"><a href="global?century=<%=century%>">지구현황</a></li>
	 <li style="width: 13%"><a href="place?century=<%=century%>" class="intro_menu_on">사무국</a></li>
	</ul>
</div>
<div id="container_intro">
	<!-- 내용 -->
	<div class="place_wrap">
		<div class="map_wrap">
			<h3>356-A(대구)지구 사무국</h3>
			<div id="map" style="max-width:100%;height:250px;background-color: #d6d6d6;"></div>
			<div class="place_txt">
				<ul>
					<li><p class="p_tit"><i class="fa fa-map-marker-alt"></i>주&nbsp;소</p>
						<p class="p_txt">(41256) 대구광역시 동구 동대구로 85길 58 </p>
					</li>
					<li><p class="p_tit"><i class="fa fa-phone"></i>연락처</p>
						<p class="p_txt">대표전화) 053)756-0309</p>
						<p class="p_txt">FAX) 053)756-0311</p>
					</li>
					<li><p class="p_tit"><i class="fa fa-home"></i>홈페이지</p>
						<p class="p_txt">지구 홈페이지: www.lions356a.org</p>
						<p class="p_txt">다음카페: café.daum.net/LionsDaeguClubs</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2645652d4e8cd1be1b5db6da98d8ce0a"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.cyears').click(function() {
			$(this).next('dd').stop(true).slideToggle('slow');
			$(this).toggleClass('glace_navigationlayer-collapsed');
		});


	});
	
var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스

var options = { //지도를 생성할 때 필요한 기본 옵션
	center: new kakao.maps.LatLng(35.875471, 128.624770), //지도의 중심좌표.
	level: 3 //지도의 레벨(확대, 축소 정도)
};

var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

// 마커가 표시될 위치입니다 
var markerPosition  = new kakao.maps.LatLng(35.875471, 128.624770); 

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

</script>
