<!-- 탭 -->
<div class="intro_menu">
   <ul>
     <li style="width: 19%;"><a href="greeting?century=<%=century%>" >윤리강령</a></li>
     <li style="width: 10%;"><a href="roles?century=<%=century%>" class="intro_menu_on">목적</a></li>
	 <li style="width: 10%; letter-spacing: 1px;"><a href="history?century=<%=century%>">LCI</a></li>
	 <li style="width: 22%;"><a href="orgchart?century=<%=century%>">국제협회장</a></li>
	 <li style="width: 24%;"><a href="ceo_history?century=<%=century%>">한국라이온스</a></li>
   </ul>
</div>
<!-- <div>
    <img src="images/ready.png" class="orgChart_img" id="orgChart_img" width="100%" height="100%">
</div> -->
<div id="container_intro">
	<div class="intro_greeting">
		<h1 class="con_tit">라이온스 목적</h1>
		
		<div class="greeting_text">
			<ul class="greet_ul">
				<li><div class="indent_en">1. 라이온스 클럽으로 알려진 봉사 클럽을 구성, 인증 및 감독한다.</div></li>
				<li><div class="indent_en">2. 라이온스 클럽 활동사항을 조정하고, 클럽 운영을 표준화한다.</div></li>
				<li><div class="indent_en">3. 세계 인류 상호 간의 이해심을 배양하고 증진시킨다.</div></li>
				<li><div class="indent_en">4. 건전한 국가관과 시민의식을 고취시킨다.</div></li>
				<li><div class="indent_en">5. 지역사회의 생활개선, 사회복지, 공덕심 함양에 적극적인 관심을 갖는다.</div></li>
				<li><div class="indent_en">6. 우의와 협력 그리고 상호 이해로 클럽 간의 유대를 돈독히 한다.</div></li>
				<li><div class="indent_en">7. 정당과 종교문제를 제외한 일반인의 관심사인 모든 문제 해결을 위한 토론의 장을 마련한다.</div></li>
				<li><div class="indent_en">8. 지역사회의 숨은 자원봉사인을 격려하며, 각 분야의 효율성을 제고하고 도덕심을 향상시킨다.</div></li>
			</ul>
        </div>
	</div>
</div>