<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10, user-scalable=yes" />
<link rel="stylesheet" type="text/css" href="/js/jquery/css/swiper.min.css"/>
<script type="text/javascript" src="/js/jquery/swiper.min.js"></script>
<script>
    $(document).ready(function() {
    	/* if(window.innerHeight >='568' && window.innerHeight <= '639'){
       		$('.area_club').css('height','72px');
       	}else if(window.innerHeight >= '640' && window.innerHeight <= '712'){
       		$('.area_club').css('height','145px');
       	}else if(window.innerHeight >= '713' && window.innerHeight <= '785'){
       		$('.area_club').css('height','217px');
       	}else if(window.innerHeight >= '786' && window.innerHeight <= '858'){
       		$('.area_club').css('height','289px');
       	}else if(window.innerHeight >= '859' && window.innerHeight <= '1000'){
       		$('.area_club').css('height','361px');
       	}else{
       		$('.area_club').css('height','361px');
       	} */
     var swiper = new Swiper('.swiper-container', {
		        autoplay: {
		         	delay: 3000,
		          	disableOnInteraction: false,
		         },
				speed : 1000,
				slidesPerView: 'auto',
				centeredSlides: true,
				slidesPerView: 'auto',
				loop:true,
				loopAdditionalSlides: 1,
				loopFillGroupWithBlank: true,
				spaceBetween: 15,
		});
      var all_club = $('.all_club');
        $(all_club).click(function(){
          $(this).addClass('on2');
          all_club.not($(this)).removeClass('on2');
       var  club_value = $(this).attr('value');
       $('.num_type').val(club_value);     

       $(".area_club").empty();
       $.ajax({
		type : "POST",
        url : "/club_view_data",
        dataType : "json",
        data : {
			club_value:club_value
       	}, success : function(json) {
            var ment = makeText(json.db_data);
			$(".area_club").append(ment);
           }
        }); 
    });

    $('#searchAction').click(function() {
        var text = $("#search_text").val();
        if(text == ''){
            // alert("검색어를 입력해주세요");
        }else{
            window.location.href = "club_list?century=<%=century%>&search_text="+text;
        }
		});
    });

function makeText(json){
    var text = "";
    for (var i = 0; i < json.length; i++) {
    if(i == 0){
    text += '<div class="club_'+i+'">'; 
    }
     text += '<div class="club_view" onclick="club_view(\''+json[i].club_name +'\')">';
     text += '<p>'+ '<span>'+json[i].club_name2 +'</span>'+json[i].club_year+ '&nbsp;'+'주년'+'</p>';
     text  += '</div>'; 
    if(i == 3){
        text  += '</div>';
        text += '<div class="club_'+i+'">';
    } 
      if(i == 7){
        text  += '</div>';
        text += '<div class="club_'+i+'">';
    }
    if(i == 11){
        text  += '</div>';
        text += '<div class="club_'+i+'">';
    }
    if(i == 15){
        text  += '</div>'; 
    }
      


    }
    return text;
}

function club_view(area_zone_type){
    var num_type = $('.num_type').val();  
      window.location.href = "club_list?century=<%=century%>&num_type="+num_type+"&area_zone_type="+area_zone_type;
}
	$(document).ready(function(){
		var header_h = $(".header").outerHeight(true),
			sub_h = $(".sub_head").outerHeight(true),
			cont_t = $(".club_cont").outerHeight(true),
			padding_h = header_h + sub_h;
				
			//$(".club_cont").css("top", padding_h)
			$(".club_div").css("padding-top", padding_h)
		
		$(".club_cont > .all_club").click(function(){
			var i = $(this).index();
				$(".staff_area > div").css("display", "none");
				$(".staff_area > div").eq(i).css("display", "flex");
			
			
		});
			
		
	})

</script>


<style>
    .swiper-container {width: 100%;  height: 150px; background-size: cover; border-radius: 10px;}
	.swiper-wrapper{ overflow: visible; height: 150px; }
	.swiper-slide { text-align: center;font-size: 18px; background: #fff; 
	    display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
	 }

.swiper-txt{font-size: 15px; margin-top: 0px;font-weight: 500;}

    
</style>

	<div class="club_div" style="padding-bottom: 15px;">
	    <input type="hidden" class="num_type">
	    <div class="search_wrap_view"> 
	        <div class="select_name">
				<p>클럽검색</p>
			</div>
			<!--<select name="" id="">
				<option value="회원검색">회원검색</option>
				<option value="클럽검색">클럽검색</option>
				<option value="회원사검색">회원사검색</option>
			</select>-->
	        <div class="search_field">
	            <input type="text" placeholder="클럽명을 입력하세요." onfocus="this.placeholder=''" onblur="this.placeholder='클럽명을 입력하세요.'" />
				<button>
					<img src="/images/search_btn.svg" alt="검색버튼">
				</button>
	        </div>
        </div>
    <div class="club_cont">
        <div class="all_club club01" value="1지역">
            <p>1지역</p>
        </div>
        <div class="all_club club02" value="2지역">
            <p>2지역</p>
        </div>
        <div class="all_club club03" value="3지역">
            <p>3지역</p>
        </div>
        <div class="all_club club04" value="4지역">
            <p>4지역</p>
        </div>
        <div class="all_club club05" value="5지역">
            <p>5지역</p>
        </div>
        <div class="all_club club06" value="6지역">
            <p>6지역</p>
        </div>
        <div class="all_club club07" value="7지역">
            <p>7지역</p>
        </div>
        <div class="all_club club08" value="8지역">
            <p>8지역</p>
        </div>
		<div class="all_club club09" value="9지역">
			<p>9지역</p>
		</div>
		<div class="all_club club10" value="10지역">
			<p>10지역</p>
		</div>
		<div class="all_club club11" value="11지역">
			<p>11지역</p>
		</div>
		<div class="all_club club12" value="12지역">
			<p>12지역</p>
		</div>
	</div>

	<div class="staff_area">
	
		<div class="club01_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area01_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>제주 RC</li>
						<li><span class="staff_name">향석</span>홍성호</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area01_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주돌담 RC</li>
						<li><span class="staff_name">월광</span>강언민</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club02_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area02_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>서귀포 RC</li>
						<li><span class="staff_name">정예</span>임철남</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area02_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>남제주 RCC</li>
						<li><span class="staff_name">일수</span>김창수</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club03_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area03_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>신제주 RC</li>
						<li><span class="staff_name">행운</span>장행우</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area03_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>서제주 RC</li>
						<li><span class="staff_name">토담</span>김탁용</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club04_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area04_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>영주 RC</li>
						<li><span class="staff_name">태관</span>강경범</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area04_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>영주 RC</li>
						<li><span class="staff_name">지천</span>권진순</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club05_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area05_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>제주노형 RC</li>
						<li><span class="staff_name">능구</span>양문봉</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area05_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주연동 RC</li>
						<li><span class="staff_name">우재</span>조영돈</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club06_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area06_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>제주탐라 RC</li>
						<li><span class="staff_name">중도</span>박정용</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area06_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주일출 RC</li>
						<li><span class="staff_name">지암</span>강세환</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club07_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area07_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>성산포숨비 RC</li>
						<li><span class="staff_name">일탈</span>이숙영</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area07_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>성산포 RC</li>
						<li><span class="staff_name">옥전</span>오금철</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club08_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area08_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>제주탐모라 RC</li>
						<li><span class="staff_name">길상</span>고정아</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area08_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주탐모라 RC</li>
						<li><span class="staff_name">다향</span>장영미</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club09_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area09_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>제주백록 RC</li>
						<li><span class="staff_name">대원</span>이규성</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area09_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주엔젤 RC</li>
						<li><span class="staff_name">유립</span>변현경</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club10_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area10_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>제주한라산 RC</li>
						<li><span class="staff_name">대덕</span>윤재규</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area10_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주아라 RC</li>
						<li><span class="staff_name">거성</span>문종호</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club11_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area11_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>제주서부 RC</li>
						<li><span class="staff_name">제일</span>박광식</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area11_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주가온 RC</li>
						<li><span class="staff_name">상아</span>현명자</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="club12_staff">
			<div class="staff_pro_l">
				<p>총재지역대표</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area12_01.jpg" alt="지역1 대표" />
					</div>
					<ul class="staff_txt">
						<li>모슬포 RC</li>
						<li><span class="staff_name">고암</span>고수일</li>
					</ul>
				</div>
			</div>
			<div class="staff_pro_r">
				<p>사무차장</p>
				<div class="staff_pro_area">
					<div class="staff_img">
						<img src="/images/area12_02.jpg" alt="지역1 사무차장" />
					</div>
					<ul class="staff_txt">
						<li>제주최남단 RC</li>
						<li><span class="staff_name">충만</span>최미애</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	
    <div class="area_club" ></div>


		
</div>	

<div class="slide_ad swiper-container" style="padding-bottom: 10vh; height: auto;"> 
		<div class="swiper-wrapper">
			<%
				for(var i = 0; i < banner_data.length; i++){
			%>
					
					<a href ="/hongbo_board_view?brd_no=<%=banner_data[i].board_no%>" class="swiper-slide" style="height: 120px;">
						<div class="content_wrap">
							<div class="content_img">
								<img src="/file/hongbo_board/<%=banner_data[i].file_dtname%>" alt=""  />
							</div>
							<!--<div class="swiper-txt">
                                <span style="color: #f47708;">[<%= banner_data[i].area_club %>]&nbsp; </span>
                                <span style="color: #236da0;"><%= banner_data[i].orgmem_name %>&nbsp; &nbsp;</span>
                                <span><a href='tel:<%= banner_data[i].phone %>'><i class="fas fa-phone-alt"></i>&nbsp;<%= banner_data[i].phone %></a></span>
                            </div>-->
					  </div>
					</a>
					
			<%
				}
			%>
		</div>		
	</div>	
