<script type="text/javascript" src="../../../js/jquery/jquery.touchSwipe.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
	$(document).ready(function () {
		var swiper = new Swiper('.snbSwiper', {
			slidesPerView: 'auto',
			preventClicks: true,
			preventClicksPropagation: false,
			observer: true,
			observeParents: true,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			loop: true,
		});



		function muCenter(target) {
			var snbwrap = $('.snbSwiper .swiper-wrapper');
			var targetPos = target.position();
			var box = $('.snbSwiper');
			var boxHarf = box.width() / 2;
			var pos;
			var listWidth = 0;

			snbwrap.find('.swiper-slide').each(function () { listWidth += $(this).outerWidth(); })

			var selectTargetPos = targetPos.left + target.outerWidth() / 2;
			if (selectTargetPos <= boxHarf) { // left
				pos = 0;
			} else if ((listWidth - selectTargetPos) <= boxHarf) { //right
				pos = listWidth - box.width();
			} else {
				pos = selectTargetPos - boxHarf;
			}

			setTimeout(function () {
				snbwrap.css({
					"transform": "translate3d(" + (pos * -1) + "px, 0, 0)",
					"transition-duration": "500ms"
				})
			}, 200);
		};
	});

</script>
<body>
	<div class="community-wrap">
		<div class="bg-img-wrap">
			<img src="/images/carbonFoot/challege02-2.png" alt="">
			<div class="calc-menu">
				<ul class="circle-wrap">
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_notice.png" alt=""></a>
						<span>공지사항</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_mic.png" alt="" style="padding: 20px;"></a>
						<span>녹색뉴스</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_scale.png" alt=""></a>
						<span>레시피</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_down.png" alt=""></a>
						<span>지구달력</span>
					</li>
					<li>
						<a href="#"><img src="/images/carbonFoot/icon_food.png" alt=""></a>
						<span>자료실</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="cm-menu-preview">
			<div class="menu-title">
				<span>에코스(ECOCE) 공지사항</span>
			</div>
			<div class="menu-content">
				<table>
					<tr>
						<th>2021-12-02</th>
						<td><a href="#">에코스 앱 런칭 이벤트 참여하고 상품받자!!</a></td>
					</tr>
					<tr>
						<th>2021-12-11</th>
						<td><a href="#">인스타그램 공유하고 500 포인트 획득하자!!</a></td>
					</tr>
					<tr>
						<th>2021-12-27</th>
						<td><a href="#">저탄소실천 인증 선착순 100명 텀블러 증정</a></td>
					</tr>
					<tr>
						<th>2021-12-31</th>
						<td><a href="#">환경포럼 참여 부스 안내</a></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="cm-menu-preview">
			<div class="menu-title">
				<span>탄소중립이 GREEN 뉴스</span>
			</div>
			<div class="menu-content">
				<table>
					<tr>
						<th>2021-12-02</th>
						<td><a href="#">생활 속 배출되는 온실가스 줄이는 방법</a></td>
					</tr>
					<tr>
						<th>2021-12-11</th>
						<td><a href="#">어렵지 않아요 탄소중립! 함께 지구를 살려요~</a></td>
					</tr>
					<tr>
						<th>2021-12-27</th>
						<td><a href="#">탄소중립 실천 뽐내기 이벤트</a></td>
					</tr>
					<tr>
						<th>2021-12-31</th>
						<td><a href="#">지구를 지키는 가장 쉬운 방법은?</a></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="cm-menu-preview">
			<div class="menu-title">
				<span>녹색식단 건강 레시피</span>
			</div>
			<div class="snbSwiper-wrap">
				<div class="swiper-container snbSwiper">
					<ul class="swiper-wrapper swiper-food-wrap">
						<li class="swiper-slide">
							<a href="#"><img src="/images/carbonFoot/food01.png" alt=""></a>
						</li>
						<li class="swiper-slide">
							<a href="#"><img src="/images/carbonFoot/food02.png" alt=""></a>
						</li>
						<li class="swiper-slide">
							<a href="#"><img src="/images/carbonFoot/food03.png" alt=""></a>
						</li>
						<li class="swiper-slide">
							<a href="#"><img src="/images/carbonFoot/food03.png" alt=""></a>
						</li>
						<li class="swiper-slide">
							<a href="#"><img src="/images/carbonFoot/food03.png" alt=""></a>
						</li>
					</ul>
					<div class="swiper-pagination" style="display:none;"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<div class="cm-menu-preview">
			<div class="menu-title callendar-title">
				<span>건강한 미래로 가는 달력</span>
			</div>
			<div class="menu-content callendar-content">
				<ul class="callendar-content-line1">
					<li>
						<div class="callendar-content-each">
							<div class="callendar-img-wrap">
								<img class="callendar-img" src="/images/carbonFoot/code.png" alt="">
							</div>
							<div class="img-comment">
								<p><지구의 날></p>
								<p>2022.04.22</p>
							</div>
						</div>
					</li>
					<li>
						<div class="callendar-content-each">
							<div class="callendar-img-wrap">
								<img class="callendar-img" src="/images/carbonFoot/code.png" alt="">
							</div>
							<div class="img-comment">
								<p><지구의 날></p>
								<p>2022.04.22</p>
							</div>
						</div>
					</li>
					<li>
						<div class="callendar-content-each">
							<div class="callendar-img-wrap">
								<img class="callendar-img" src="/images/carbonFoot/code.png" alt="">
							</div>
							<div class="img-comment">
								<p><지구의 날></p>
								<p>2022.04.22</p>
							</div>
						</div>
					</li>
				</ul>
				<ul class="callendar-content-line2">
					<li>
						<div class="callendar-content-each">
							<div class="callendar-img2-wrap">
								<img class="callendar-img" src="/images/carbonFoot/code.png" alt="">
							</div>
							<div class="img-comment">
								<p><지구의 날></p>
								<p>2022.04.22</p>
							</div>
						</div>
					</li>
					<li>
						<div class="callendar-content-each">
							<div class="callendar-img2-wrap">
								<img class="callendar-img" src="/images/carbonFoot/code.png" alt="">
							</div>
							<div class="img-comment">
								<p><지구의 날></p>
								<p>2022.04.22</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="cm-menu-preview">
			<div class="menu-title">
				<span>탄소중립을 위한 자료실</span>
			</div>
			<div class="menu-content">
				<table>
					<tr>
						<th>2021-12-02</th>
						<td><a href="#">생활 속 배출되는 온실가스 줄이는 방법</a></td>
					</tr>
					<tr>
						<th>2021-12-11</th>
						<td><a href="#">어렵지 않아요 탄소중립! 함께 지구를 살려요~</a></td>
					</tr>
					<tr>
						<th>2021-12-27</th>
						<td><a href="#">탄소중립 실천 뽐내기 이벤트</a></td>
					</tr>
					<tr>
						<th>2021-12-31</th>
						<td><a href="#">지구를 지키는 가장 쉬운 방법은?</a></td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>
</body>