<script type="text/javascript">
	 $(document).ready(function() {
		 comment_ajax();
		 
		$("#go_list").click(function() {
			$("#boardForm").submit();
		});
		
		$("#go_request_list").click(function() {
			var form = document.boardForm;
			form.action = '/event_req_list?number=<%=db_data[0].board_no %>&mode=view';	
			form.submit();	
		});
		
		$("#go_modify").click(function() {
			var form = document.boardForm;
			form.action = 'event_brd_write?mode=modify';
			form.submit();
		});
		$("#go_delete").click(function() {
			if(confirm("삭제하시겠습니까?")){
				var form = document.boardForm;
				form.action = 'event_brd_del';
				form.submit();
			}
		});
		
		/* $("#go_request").click(function() {
			if(confirm("행사신청을 하시겠습니까?")){

				var board_no = $("#board_no").val();
				
				$.ajax({
					type : "post",  
				    url : "/event_request_save",    
				    dataType : "text",
				    data : {"board_no" : board_no},      
				    success : function(data){
				    	if(data == "success"){
				    		alert("행사신청이 완료되었습니다.");
				    		$("#boardForm").submit();
				    	}else{
				    		alert("행사신청이 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		}); */
		
		$("#i_attend").click(function() {
			if(confirm("행사에 참석 하시겠습니까?")){

				var board_no = $("#board_no").val();
				
				$.ajax({
					type : "post",  
				    url : "/event_request_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "request_state" : "y", "method" : "insert"},      
				    success : function(data){
				    	if(data == "success"){				    		
				    		$("#boardForm").submit();
				    	}else{
				    		alert("행사신청이 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		});
		$("#i_notattend").click(function() {
			if(confirm("행사에 불참 하시겠습니까?")){

				var board_no = $("#board_no").val();
				
				$.ajax({
					type : "post",  
				    url : "/event_request_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "request_state" : "n", "method" : "insert"},      
				    success : function(data){
				    	if(data == "success"){				    		
				    		$("#boardForm").submit();
				    	}else{
				    		alert("행사신청이 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		});
		$("#i_undecide").click(function() {
			if(confirm("행사참석을 미정 하시겠습니까?")){

				var board_no = $("#board_no").val();
				
				$.ajax({
					type : "post",  
				    url : "/event_request_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "request_state" : "i", "method" : "insert"},      
				    success : function(data){
				    	if(data == "success"){				    		
				    		$("#boardForm").submit();
				    	}else{
				    		alert("행사신청이 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		});
		$("#u_attend").click(function() {
			if(confirm("행사에 참석 하시겠습니까?")){

				var board_no = $("#board_no").val();
				var request_no = $("#request_no").val();
				
				$.ajax({
					type : "post",  
				    url : "/event_request_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "request_no" : request_no, "request_state" : "y", "method" : "update", },      
				    success : function(data){
				    	if(data == "success"){				    		
				    		$("#boardForm").submit();
				    	}else{
				    		alert("행사신청이 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		});
		$("#u_notattend").click(function() {
			if(confirm("행사에 불참 하시겠습니까?")){

				var board_no = $("#board_no").val();
				var request_no = $("#request_no").val();
				
				$.ajax({
					type : "post",  
				    url : "/event_request_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "request_no" : request_no, "request_state" : "n", "method" : "update"},      
				    success : function(data){
				    	if(data == "success"){				    		
				    		$("#boardForm").submit();
				    	}else{
				    		alert("행사신청이 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		});
		$("#u_undecide").click(function() {
			if(confirm("행사참석을 미정 하시겠습니까?")){

				var board_no = $("#board_no").val();
				var request_no = $("#request_no").val();
				
				$.ajax({
					type : "post",  
				    url : "/event_request_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "request_no" : request_no, "request_state" : "i", "method" : "update"},      
				    success : function(data){
				    	if(data == "success"){				    		
				    		$("#boardForm").submit();
				    	}else{
				    		alert("행사신청이 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		});
		
		$(".board_tab").click(function(e){
			e.preventDefault();
			
			var comment_type = $(this).attr("comment_type");
			
			$(".board_tab").removeClass("on");
			$(this).addClass("on");
			
			if(comment_type == "view"){
				$(".comment_write").hide();
				$(".comment_view").show();
			}else if(comment_type == "write"){
				$(".comment_view").hide();
				$(".comment_write").show();
			}
		});
		
		$("#comment_save").click(function(){
			var comment_content = $.trim($("#comment_content").val());
			var board_no = $("#board_no").val();
			
			if(comment_content == ""){
				alert("댓글을 입력해주세요.");
				$("#comment_content").focus();
				return false;
			}else if(confirm("댓글을 등록하시겠습니까?")){
				
				$.ajax({
					type : "post",  
				    url : "/event_comment_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "comment_content" : comment_content, "mode" : "write"},      
				    success : function(data){
				    	if(data == "success"){
				    		alert("댓글이 등록되었습니다.");
				    		comment_ajax(board_no);
				    	}else{
				    		alert("댓글등록에 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}
		});
		
		$(".comment_del").live('click', function(){
			var comment_no = $(this).attr("comment_no");
			
			if(confirm("삭제하시겠습니까?")){
				$.ajax({
					type : "post",  
				    url : "/event_comment_save",    
				    dataType : "text",
				    data : {"comment_no" : comment_no, "mode" : "delete"},      
				    success : function(data){
				    	if(data == "success"){
				    		alert("댓글이 삭제되었습니다.");
				    		comment_ajax(board_no);
				    	}else{
				    		alert("댓글삭제에 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});	
			}
		});
		
		$(".comment_modify").live('click', function(){
			var thisDl = $(this).parents("dl:first");
			thisDl.find(".ori_data").hide();
			thisDl.find(".modify_data").show();
		});
		
		$(".comment_modify_cancel").live('click', function(){
			var thisDl = $(this).parents("dl:first");
			thisDl.find(".modify_data").hide();
			thisDl.find(".ori_data").show();
		});
		
		$(".comment_modify_bt").live('click', function(){
			var thisDl = $(this).parents("dl:first");
			
			var comment_no = $(this).attr("comment_no");
			var comment_content = $.trim(thisDl.find(".comment_modify_content").val());
			var board_no = $("#board_no").val();			
			
			if(comment_content == ""){
				alert("댓글을 입력해주세요.");
				$("#comment_content").focus();
				return false;
			}else if(confirm("댓글을 수정하시겠습니까?")){
				
				$.ajax({
					type : "post",  
				    url : "/event_comment_save",    
				    dataType : "text",
				    data : {"board_no" : board_no, "comment_content" : comment_content, "mode" : "modify", "comment_no" : comment_no},      
				    success : function(data){
				    	if(data == "success"){
				    		alert("댓글이 수정되었습니다.");
				    		comment_ajax(board_no);
				    	}else{
				    		alert("댓글수정에 실패하였습니다.");
				    		return false;
				    	} 
				    }
				});			
			}			
		});
		
		var view_content = $(".view_content").html().replace(/@@@/g, "<br>");
		$(".view_content").html(view_content);
		
		$(".fileList").live('click', function() {
			var ext = $(this).attr("fileReview").split('.').pop().toLowerCase();
			
			if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
				window.location.href = $(this).attr("fileInfo");
			} else {
				if(isMobile()) {
					var url = "/views/user/event_board/img_view.html?imgSRC="+$(this).attr("fileReview");
					window.location.href = url;
				} else {
					window.location.href = $(this).attr("fileInfo");
				}
			}
		});
		
		$(".contImg").click(function() {
			if( $(this).get(0).tagName=="IMG" ) {
				//var url = "/views/user/event_board/img_view.html?imgSRC="+$(this).attr("src");
				//window.location.href = url;
			}
		});
	});
	 
	function comment_ajax(){
		 
		var board_no = $("#board_no").val();
		var comment_html = "";
		 
		$.ajax({
			type : "post",  
		    url : "/event_comment_list",    
		    dataType : "json",
		    data : {"board_no" : board_no},      
		    success : function(data){
		    	var connectorNo = data.connectorNo;
		    	 
		    	if($(data.result).length > 0){
		    		var comment_insertUser = "";
		    		
		    		$(data.result).each(function(key, data){
		    			if(data.orgmem_no == "5555555") {
		    				comment_insertUser = "PC(공용)"
		    			} else {
		    				comment_insertUser = data.orgmem_name;
		    			}
		    			comment_html += "<dl>";
		    			comment_html += "	<dt><p>"+comment_insertUser+" <span>"+data.c_date+"</span></p> ";
		    			if(connectorNo == data.orgmem_no){ //자신이 쓴 댓글만 삭제가능
		    			 	comment_html += "		<button class='comment_del ori_data' comment_no="+data.comment_no+"><i class='fa fa-trash'></i></button>";
		    			 	comment_html += "		<button class='comment_modify ori_data' comment_no="+data.comment_no+"><i class='fa fa-pen'></i></button>";
		    			}
		    			comment_html += "	</dt>";
		    			comment_html += "	<dd class='ori_data'>"+data.comment_content+"</dd>";
		    			comment_html += "	<dd class='modify_data noline nopadding nomargin' style='display:none;'>";
	    			 	comment_html += "		<textarea class='comment_modify_content' style='width:95%; height:50px;'>"+data.comment_content+"</textarea>";
	    			 	comment_html += "	</dd>";
	    			 	comment_html += "	<dd class='modify_data align_c' style='display:none;'>";
	    			 	comment_html += "		<button class='comment_modify_bt btn_blue btn_round' comment_no="+data.comment_no+">저장</button>";		    			
	    			 	comment_html += "		<button class='comment_modify_cancel btn_gray btn_round'>취소</button>";
		    			comment_html += "	</dd>";
		    			comment_html += "</dl>";
		    		});	 
		    	}else{
		    		comment_html = "<p class='align_c'>등록된 댓글이 없습니다.</p>";
		    	}
		    	 
		    	$(".comment_view").html(comment_html);
		    	 
		    	$(".board_tab:first").click();
				 
				$("#comment_content").val("");
		    }
		});		 
	 }
</script>
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4964aa4912a92254fbf7fa14824b4b7a&libraries=services"></script>
<div id="container">
	<form name="boardForm" id="boardForm" method="post" action="event_board_list" autocomplete="off">
		<input type="hidden" name="nowPage" value="<%=nowPage%>"/>
		<input type="hidden" name="board_no" id="board_no" value="<%=db_data[0].board_no %>"/>
		<input type="hidden" name="request_no" id="request_no" value="<%=db_data[0].request_no %>"/>
	</form>
	<div class="board_view">
		<h3><%=db_data[0].board_title %></h3>
		<p class="board_date">조회수 : <%=db_data[0].board_cnt %> / 작성일 : <%=db_data[0].c_date %></p>
		<table class="event_date_tb">
			<colspan>
				<col width="100px">
			</colspan>
			<tbody>
				<tr>
					<th>접수기간</th>
					<td>
						<%=db_data[0].board_startdate_nm %> <%=db_data[0].bs_week_name %><br>
						~ <%=db_data[0].board_enddate_nm %> <%=db_data[0].be_week_name %>
					</td>
				</tr>
				<tr>
					<th>행사주소</th>
					<td><%=db_data[0].board_address %></td>
				</tr>
				<tr>
					<th>행사상세주소</th>
					<td><%=db_data[0].board_address_detail %></td>
				</tr>
				<tr>
					<th>행사날짜</th>
					<td>
						<%=db_data[0].board_eventsdate_nm %> <%=db_data[0].es_week_name %> <%=db_data[0].board_eventstime %><br>
						~ <%=db_data[0].board_eventedate_nm %> <%=db_data[0].ee_week_name %> <%=db_data[0].board_eventetime %>
					</td>
				</tr>
			</tbody>
		</table>
		<!--<h5>접수기간<br>: <%=db_data[0].board_startdate_nm %> <%=db_data[0].bs_week_name %> ~ <%=db_data[0].board_enddate_nm %> <%=db_data[0].be_week_name %></h5>
		<h5>행사주소<br>: <%=db_data[0].board_address %></h5>
		<h5>행사상세주소<br>: <%=db_data[0].board_address_detail %></h5>
		<h5>행사날짜<br>: <%=db_data[0].board_eventsdate_nm %> <%=db_data[0].es_week_name %> <%=db_data[0].board_eventstime %> ~ <%=db_data[0].board_eventedate_nm %> <%=db_data[0].ee_week_name %> <%=db_data[0].board_eventetime %></h5>-->
		<!--<h5>행사기간 : <%=db_data[0].board_eventsdate %> ~ <%=db_data[0].board_eventedate %></h5>-->
		
		<input type="hidden" name="boardXgps" id="boardXgps" value="<%=db_data[0].board_xgps %>" />
		<input type="hidden" name="boardYgps" id="boardYgps" value="<%=db_data[0].board_ygps %>" />
		<div id="map" style="width:100%px;height:300px;margin-top:10px;"></div>

		<div class="view_content">
			<p class="event_con_txt">
			<%=db_data[0].board_content.replace(/\r\n/g, "@@@") %>
			
			<%
			if(db_data_file.length){
				for(var i = 0; i < db_data_file.length; i++){
					var fileName = "";
					var fileExt = "";
					
					fileName = db_data_file[i].file_dtname;		
					fileExt = fileName.substring(fileName.lastIndexOf('.') +1, fileName.length).toLowerCase();
					
					if(fileExt == 'gif' || fileExt == 'png' || fileExt == 'jpg' || fileExt == 'jpeg'){
			%>
			
				<div class="event_img" style="margin-top:10px;"><img src="/file/event_board/<%=db_data_file[i].file_dtname%>" alt="" class="contImg hand"/></div>
				
			<%
					}
				}
			}
			%>
			</p>
		</div>
		
		<p class="align_c">				
			<%if(connectorNo!="5555555" || db_data[0].create_name==ad_id){%>
				<%if( db_data[0].ev_req>0){%>
					<%if((db_data[0].board_startdate>db_data[0].nowdate)||(db_data[0].nowdate > db_data[0].board_enddate)){%>
						<button class="btn_gray btn_round">접수마감</button>
					<%}else{%>
						<button class="<%if( db_data[0].request_state=='y'){%>btn_blue<%}else{%>btn_gray<%}%> btn_round" id="u_attend">참석</button>
						<button class="<%if( db_data[0].request_state=='n'){%>btn_blue<%}else{%>btn_gray<%}%> btn_round" id="u_notattend">불참</button>
						<button class="<%if( db_data[0].request_state=='i'){%>btn_blue<%}else{%>btn_gray<%}%> btn_round" id="u_undecide">미정</button>
					<%}%>					
				<%}else {%>
						<%if((db_data[0].board_startdate>db_data[0].nowdate)||(db_data[0].nowdate > db_data[0].board_enddate)){%>
							<button class="btn_gray btn_round">접수마감</button>
						<%}else{%>
							<button class="btn_gray btn_round btn_mem_check" id="i_attend">참석</button>
							<button class="btn_gray btn_round btn_mem_check" id="i_notattend">불참</button>
							<button class="btn_gray btn_round btn_mem_check" id="i_undecide">미정</button>
						<%}%>				
				<%}%>
			<%}else{%>
				<button class="btn_gray btn_round btn_mem_check" onclick="javascript:alert('앱사용자만 신청이 가능합니다.');">행사신청</button>
			<%}%>
			<button class="btn_gray btn_round btn_normal btn_mem_check" id="go_request_list">참석자 확인</button>
		</p>
		
		<!-- 
		<%
		if(db_data_file.length){
			for(var i = 0; i < db_data_file.length; i++){
		%>
			<p><a href="#" class="fileList hand" fileInfo="/download/<%=db_data_file[i].file_dtname%>/<%=db_data_file[i].file_name%>/board" fileReview="/file/board/<%=db_data_file[i].file_dtname%>"><%=db_data_file[i].file_name%></a></p>
		<%
			}
		}
		%>	 
		-->	
	</div>
	
	<p class="align_r">
		<div class="btn_box">
			<button class="btn_default btn_gray" id="go_list">목록으로</button>
			<%if( db_data[0].orgmem_no==connectorNo || connectorDivision == "admin"){%>
				<div class="btn_edit">
					<button class="btn_gray btn_round" id="go_modify">수정</button>
					<button class="btn_gray btn_round btn_normal" id="go_delete">삭제</button>
				</div>
			<%}%>
		</div>
	</p>
	
	<!-- <div class="comment_tab">
		<ul>
			<li style="width:50%;" class="on board_tab" comment_type="view"><a href="#">댓글</a></li>
			<li class="board_tab" comment_type="write"><a href="#">댓글쓰기</a></li>
		</ul>
	</div> -->
	<!-- <div class="comment_write" style="display:none;">
		<textarea rows="4" cols="79" style="width:100%; height:50px; ime-mode:active;" id="comment_content"></textarea>
		<p class="align_r">
			<button class="btn_gray btn_round" id="comment_save">댓글등록</button>
		</p>
	</div>
	<div class="comment_view">
	</div> -->
</div>	
<!-- //컨텐츠 -->
<script>
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div
		mapOption = {
			center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
			level: 5 // 지도의 확대 레벨
		};

	//지도를 미리 생성
	var map = new daum.maps.Map(mapContainer, mapOption);
	//주소-좌표 변환 객체를 생성
	var geocoder = new daum.maps.services.Geocoder();
	//마커를 미리 생성
	var xgps = document.getElementById("boardXgps").value;
	var ygps = document.getElementById("boardYgps").value;
	var marker = new daum.maps.Marker({
		position: new daum.maps.LatLng(37.537187, 127.005476),
		map: map
	});
	
	// 해당 주소에 대한 좌표를 받아서
	var coords = new daum.maps.LatLng(xgps, ygps);
	// 지도를 보여준다.
	mapContainer.style.display = "block";
	map.relayout();
	// 지도 중심을 변경한다.
	map.setCenter(coords);
	// 마커를 결과값으로 받은 위치로 옮긴다.
	marker.setPosition(coords);	

</script>
